@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.wrapper {
  position: relative;

  &:before {
    content: '';
    display: block;
    @include hl-width(1185px);
    @include hl-height(1076px);
    position: absolute;
    top: -245%;
    left: -11%;
    border-radius: 50%;
    z-index: -1;
    background: radial-gradient(
      41.38% 40.85% at 56.08% 46.24%,
      #3719ca 0%,
      rgba(55, 25, 202, 0) 100%
    );
    opacity: 0.4;
    filter: blur(150px);

    @media screen and (max-width: $md) {
      display: none;
    }
  }
}

.title {
  display: block;
  font-family: $font-gramatika-black;
  @include hl-font-size-title(96px);
  line-height: 1.04em;
  color: $white-color;
  @include hl-margin(bottom, 100px);
  text-align: center;
  letter-spacing: -2px;
  background: linear-gradient(
    125.56deg,
    #e7a28f 3.52%,
    #f9d6ac 41.89%,
    #fbfefc 96.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media-breakpoint-down(xs) {
    --coef-title: 0.5;
  }
}

.container {
  position: relative;
  @include grid-template();

  h2 {
    @include hl-font-size-title(30px);
    font-weight: 700;
    font-family: $font-gramatika-black;
    line-height: 1.33em;
    text-align: left;
    @include col-width(12, 31);

    @include media-breakpoint-down(sm) {
      @include col-width(5, 61);
      @include hl-margin(bottom, 60px);
    }
  }

  p {
    @include col-width(34, 54);
    margin: 0;
    @include hl-font-size-text(18px);
    font-weight: 300;
    line-height: 1.6;
    font-family: $font-sofia-pro;
    text-align: left;
    letter-spacing: 0.5px;

    @include media-breakpoint-down(sm) {
      @include col-width(5, 61);
      margin: 0;
    }
  }
}

.mail {
  position: relative;
  color: $white-color;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  background: linear-gradient(
    130.51deg,
    #e7a28f 3.52%,
    #f9d6ac 41.89%,
    #fbfefc 96.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.circleSm {
  @include hl-width(40px);
  @include hl-height(40px);
  background: linear-gradient(
    37.94deg,
    rgba(16, 8, 74, 0) 16.94%,
    #83a4ff 87.08%
  );
  top: -160%;
  left: 9%;
}

.circleLg {
  @include hl-width(100px);
  @include hl-height(100px);
  background: linear-gradient(
    37.21deg,
    rgba(1, 1, 18, 0) 27.49%,
    #262147 78.93%
  );
  top: -100%;
  right: 6%;
  transform: rotate(-90deg);
}
