@import '@styles/variables/all';
@import '@styles/mixins/all';

.title {
  font-family: $font-gramatika-black;
  font-size: 8rem;
  line-height: 1.2;
  color: $white-color;
  margin-bottom: 5.7rem;
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: 6.25rem;
    line-height: 1.46em;
    margin-bottom: 5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 4.5rem;
    line-height: 1.1em;
    margin-bottom: 2.5rem;
  }
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 11.4rem;

  @include media-breakpoint-down(md) {
    display: none;
  }

  h2 {
    max-width: 23.8rem;
    margin-right: 1.5rem;
    font-size: 2.14rem;
    font-weight: 400;
    font-family: $font-sofia-pro;
    text-align: left;

    @include media-breakpoint-down(md) {
      font-size: 22px;
      line-height: 30px;
      font-weight: 400;
      width: 35%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 310px;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  p {
    max-width: 40rem;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.43rem;
    font-weight: 300;
    font-family: $font-sofia-pro;
    text-align: left;

    @include media-breakpoint-down(md) {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.contactMail {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
    margin-bottom: 5rem;
  }

  p,
  a {
    margin: 0;
    font-size: 1.7rem;
    line-height: 1.3em;
    font-family: $font-sofia-pro-soft;
  }

  a {
    color: #84a4ff;
    text-decoration: none;
    line-height: 1.5em;
  }
}

.mail {
  position: relative;
  color: $white-color;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: $main-color;
    transition: height 0.5s;
    z-index: -1;
    transition: height 0.3s;
  }

  &:hover {
    &:before {
      height: 100%;
    }
  }
}
