@import '@styles/variables/all';
@import '@styles/mixins/all';

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include media-breakpoint-down(md) {
    justify-content: flex-start;
    align-items: center;
  }
  .images {
    @include hl-height(40px);
    opacity: 0.5;
    @include hl-margin(bottom, 20px);
  }
  .text {
    font-weight: 300;
    @include hl-font-size-text(16px);
    line-height: 1.5;
    opacity: 0.5;
    @include media-breakpoint-down(md) {
      --coef-size: 1;
    }
  }
}

.upwork {
  @include col-width(10, 19);
  animation: scale 1.4s 1s both cubic-bezier(0.76, 0, 0.24, 1);
  @include media-breakpoint-down(md) {
    @include col-width(2, 31);
  }
}
.dribbble {
  @include col-width(28, 37);
  padding-bottom: 2.5rem;
  animation: scale 1.4s 0.85s both cubic-bezier(0.76, 0, 0.24, 1);
  @include media-breakpoint-down(md) {
    @include col-width(32, 62);
    padding-bottom: 0;
  }
}

.clutch {
  @include col-width(46, 55);
  animation: scale 1.4s 1s both cubic-bezier(0.76, 0, 0.24, 1);
  @include media-breakpoint-down(md) {
    display: none;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
