@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: grid;
  grid-template-columns: repeat(42, calc(100% / 42));
  position: relative;
  box-sizing: border-box;
  margin-left: 65px;
  margin-right: 65px;
  width: 100%;
  background: linear-gradient(
    126.47deg,
    rgba(132, 164, 255, 0.2) 6.69%,
    rgba(2, 2, 30, 0) 85.43%
  );
  max-width: calc(var(--col-width) * 43);
  padding: calc(var(--unit-vertical) * 3) 0;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #32344d;
    opacity: 0.5;
    top: 5%;
    left: calc(var(--col-width) * 11);
  }
  @include media-breakpoint-down(md) {
    margin-left: 15px;
    margin-right: 15px;
    max-width: calc(var(--col-width) * 58);
    &::before {
      left: calc(var(--col-width) * 14);
    }
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 42.69rem;
    &::before {
      display: none;
    }
  }
}

.review {
  @include col-width(15, 40);
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include col-width(4, 9);
  @include media-breakpoint-down(sm) {
    margin-bottom: 3rem;
  }
}

.mark {
  font-family: $font-gramatika;
  font-weight: 700;
  font-size: calc(var(--unit-font-title) * 2.8);
  line-height: 1.25;
  margin-bottom: calc(var(--unit-vertical) * 0.5);
  margin-top: auto;
}

.stars {
  display: block;
  height: auto;
  width: calc(var(--unit) * 5);
  margin-bottom: auto;
  @include media-breakpoint-down(sm) {
    margin-bottom: 16px;
    width: calc(var(--unit) * 7);
  }
}

.text {
  position: relative;
  font-family: $font-gramatika;
  font-weight: 700;
  font-size: calc(var(--unit-font-title) * 1.8);
  padding-top: 1.4em;
  margin-bottom: calc(var(--unit-vertical) * 4);
  &::before {
    content: '';
    position: absolute;
    width: calc(var(--unit-font-title) * 1.5);
    height: calc(var(--unit-font-title) * 1.5);
    background-image: url('../../../../../../assets/images/sections/home-testimonials/qoute.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
  }
}

.name {
  font-size: calc(var(--unit-sm-text) * 0.9);
  color: $light-grey-color;
  // margin-top: auto;
}

.companyLogo {
  display: inline-block;
  margin-left: auto;
  width: auto;
  max-width: 70px;
  height: auto;
  max-height: 65px;
}
