@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: grid;
  grid-template-columns: repeat(42, calc(100%/42));
  position: relative;
  box-sizing: border-box;
  // display: flex;
  // z-index: 1111;
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;
  max-width: 42.69rem;
  background: linear-gradient(126.47deg, rgba(132, 164, 255, 0.2) 6.69%, rgba(2, 2, 30, 0) 85.43%);
  max-width: calc(var(--col-width) * 43);
  padding: 60px 0;
  // @media screen and (min-width: $md) {
  //   max-width: 54.29rem;
  // }
  // @media screen and (min-width: $md) {
  //   margin: 0 80px;
  // }
}

.review {
  @include col-width(15,40);
  // padding: 2.26rem 1.72rem 2.5rem;
  // background: linear-gradient(126.47deg, rgba(132, 164, 255, 0.2) 6.69%, rgba(2, 2, 30, 0) 85.43%);

  // @media screen and (min-width: $md) {
  //   padding: 3.36rem 2.5rem 4.18rem;
  // }

  // @media screen and (min-width: $lg) {
  //   padding: 3.36rem 4.29rem 4.29rem;
  // }
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include col-width(4,9);
  // font-size: 1.43rem;
}

.mark {
  font-family: $font-gramatika;
  font-weight: 700;
  font-size: calc(var(--unit-font-title) * 2.8);
  line-height: 1.25;
  margin-bottom: calc(var(--unit-vertical) * 0.5);
}

.stars {
  display: block;
  height: auto;
  width: calc(var(--unit) * 5);
}

.text {
  position: relative;
  font-family: $font-gramatika;
  font-weight: 700;
  font-size: calc(var(--unit-font-title) * 1.8);
  padding-top: 1.4em;
  margin-bottom: calc(var(--unit-vertical) * 4);
  &::before {
    content: '';
    position: absolute;
    width: calc(var(--unit-font-title) * 1.5);
    height: calc(var(--unit-font-title) * 1.5);
    background-image: url('../../../../../../assets/images/sections/home-testimonials/qoute.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
  }
  // margin-top: 2.34rem;
  // font-size: 1.5rem;
  // line-height: 1.43em;

  // @media screen and (min-width: $md) {
  //   font-size: 1.84rem;
  // }

  // @media screen and (min-width: $lg) {
  //   margin-top: 3.28rem;
  //   font-size: 2.14rem;
  //   line-height: 1.33em;
  // }
}

.author {
  // display: flex;
  // align-items: center;
  // padding: 1.1rem 1.7rem;
  // text-decoration: none;

  // background: $main-color;

  // @media screen and (min-width: $md) {
  //   padding: 1.43rem 2.14rem;
  // }
}

.generalLogo {
  width: 5.58rem;

  @media screen and (min-width: $md) {
    width: 5.71rem;
  }
}

.name {
  font-size: calc(var(--unit-sm-text) * 0.9);
  color: $light-grey-color;
  // font-size: 1.17rem;
  // line-height: 1.5em;

  // @media screen and (min-width: $md) {
  //   font-size: 20px;
  // }

  // &.top {
  //   display: block;
  //   margin-top: 2.5rem;

  //   @media screen and (min-width: $md) {
  //     display: none;
  //   }
  // }

  // &.bottom {
  //   display: none;
  //   margin-left: 1.43rem;

  //   @media screen and (min-width: $md) {
  //     display: block;
  //   }
  // }
}

.companyLogo {
  display: inline-block;
  margin-left: auto;
  width: auto;
  max-width: 70px;
  height: auto;
  max-height: 65px;
}
