@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  display: grid;
  grid-template-columns: repeat(44, calc(100% / 44));
  position: relative;
  box-sizing: border-box;
  width: 100%;
  @include hl-margin(left, 60px);
  @include hl-margin(right, 60px);
  background: linear-gradient(
    126.47deg,
    rgba(132, 164, 255, 0.2) 6.69%,
    rgba(2, 2, 30, 0) 85.43%
  );
  max-width: calc(var(--coef-size) * 860px);
  @include hl-padding(top, 44px);
  @include hl-padding(bottom, 44px);
  // padding: calc(var(--unit-vertical) * 2.2) 0;
  height: auto;
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #32344d;
    opacity: 0.5;
    top: 5%;
    left: hl-offset(11);
  }
  @include media-breakpoint-down(md) {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 80%;
    &::after {
      left: hl-offset(14);
    }
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

.review {
  @include col-width(15, 40);
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include col-width(4, 9);
  @include media-breakpoint-down(sm) {
    margin-bottom: 3rem;
  }
}

.mark {
  font-family: $font-gramatika;
  font-weight: 700;
  @include hl-font-size-title(58px);
  line-height: 1.25;
  @include hl-margin(bottom, 10px);
  margin-top: auto;
  @include media-breakpoint-down(sm) {
    --coef-title: 0.7;
  }
}

.stars {
  display: block;
  height: auto;
  @include hl-width(100px);
  margin-bottom: auto;
  @include media-breakpoint-down(sm) {
    margin-bottom: 16px;
  }
}

.text {
  position: relative;
  font-family: $font-gramatika;
  font-weight: 700;
  @include hl-font-size-title(36px);
  line-height: 1.25;
  padding-top: 1.6em;
  @include hl-margin(bottom, 70px);
  &::before {
    content: '';
    position: absolute;
    @include hl-width(42px);
    @include hl-height(44px);
    background-image: url('../../../../../../assets/images/sections/home-testimonials/qoute.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: -4px;
  }
  @include media-breakpoint-down(sm) {
    --coef-title: 0.7;
  }
}

.name {
  margin-top: auto;
  @include hl-font-size-text(18px);
  color: $light-grey-color;
  @include media-breakpoint-down(sm) {
    --coef-text: 0.8;
  }
}

.generalLogo {
  @include hl-width(60px);
  height: auto;
  @media screen and (max-width: $md) {
    --coef-size: 1;
  }
}
