@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
}

.tabsContainer {
  @include grid-template();
}

.tabList {
  @include col-width(13, 52);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include hl-margin(bottom, 44px);
  @media screen and (max-width: $lg) {
    @include col-width(4, 62);
  }
  @media screen and (max-width: $sm) {
    display: none;
  }
}

.tabItem {
  &[aria-selected='true'] {
    > div {
      &:after {
        height: 65%;
        width: 120%;
      }
    }
  }

  > div {
    position: relative;
    font-family: $font-sofia-pro;
    @include hl-font-size-text(14px);
    padding-left: 10px;
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: 10px;
    text-transform: uppercase;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      bottom: -0.3rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      height: 2px;
      width: 0;
      background: #3719ca;
      transition: 0.2s;
    }

    &:hover {
      &:after {
        width: 120%;
      }
    }
  }
}

.tabsContentContainer {
  @include col-width(4, 62);
}

.tabContentList {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: repeat(auto-fill);
  // grid-gap: calc(40px * var(--coef-indent));
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $lg) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}

.tabContentItem {
  @include hl-height(500px);
  position: relative;
  box-sizing: border-box;
  animation-name: apperancing;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: auto;
  @media screen and (max-width: $sm) {
    height: auto;
  }
  h3 {
    @include hl-font-size-text(33px);
  }
}

.tabItemsColumn {
  display: flex;
  flex-direction: column;
  .tabContentItem {
    max-width: 360px;
  }
  h3 {
    @include hl-font-size-text(24px);
  }
}

.tabContentItemFirst {
  grid-column: 1/4;
  @include hl-height(420px);
  @media screen and (max-width: $lg) {
    grid-column: 1/3;
  }
  @media screen and (max-width: $sm) {
    grid-column: 1;
    height: auto;
  }
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  font-family: $font-sofia-pro;
  @include hl-font-size-text(14px);
  padding-left: 10px;
  color: $white-color;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  @include hl-margin(top, 100px);
  @include hl-margin(bottom, 100px);

  &::before {
    content: url('./image/button-icon.svg');
    margin-right: 20px;
    height: 22px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    height: 65%;
    width: 120%;
    background: #3719ca;
    transition: 0.2s;
  }

  &:hover {
    &:after {
      height: 120%;
    }
  }
}

@keyframes apperancing {
  from {
    opacity: 0;
    top: 2rem;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.mainItem {
  max-width: 740px;
  width: 100%;
  img {
    height: 700px;
  }
}
