@import '@styles/variables/all';
@import '@styles/mixins/all';

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  color: $white-color;
  margin-left: auto;
  flex-wrap: wrap;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-left: 0;
  }
  @include media-breakpoint-down(xs) {
    flex-wrap: nowrap;
  }
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 300px;
}

.listItem {
  max-width: 21.42rem;

  @media screen and (max-width: 1200px) {
    max-width: 20.12rem;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 3.33rem;
    max-width: 25.02rem;
  }
  @include media-breakpoint-down(sm) {
    max-width: 48%;
  }
  @include media-breakpoint-down(xs) {
    max-width: 100%;
    text-align: center;
  }

  &:first-child {
    margin-bottom: 3.5rem;
  }

  &:nth-child(2) {
    margin-bottom: 3.5rem;
  }
}
