@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  $size: 20px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background: none;
  border: none;
  border-radius: 50%;
  width: 3.86rem;
  height: 3.86rem;
  box-shadow: inset 0 0 0 1px #fff;
  transition: 0.4s;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
  }

  &:hover {
    border-color: #3719ca;
    background-color: #3719ca;
    box-shadow: inset 0 0 0 1px #3719ca;
  }
}

.previous {
  left: 0;

  &:before {
    border-color: rgba(#fff, 0) rgba(#fff, 0) rgba(#fff, 1) rgba(#fff, 1);
    transform: rotate(45deg) translate(-60%, -20%);
  }
}

.next {
  right: 0;

  &:before {
    border-color: rgba(#fff, 0) rgba(#fff, 1) rgba(#fff, 1) rgba(#fff, 0);
    transform: rotate(-45deg) translate(-10%, -80%);
  }
}
