@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  @include hl-margin(top, 200px);
  text-align: center;

  @media (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  font-family: $font-gramatika-black;
  @include hl-font-size-title(80px);
  @include hl-margin(bottom, 110px);
  letter-spacing: -2px;
  line-height: 1.25em;
  color: $white-color;
  text-align: center;
  @include media-breakpoint-down(md) {
    --coef-title: 0.6;
  }
}

.sliderWrapper {
  cursor: pointer;
}
