@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  @include hl-margin(top, 200px);
  text-align: center;

  @media (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }

  :global(.slick-track) {
    display: flex;
    align-items: center;
  }
}

.title {
  font-family: $font-gramatika-black;
  @include hl-font-size-title(80px);
  @include hl-margin(bottom, 110px);
  letter-spacing: -2px;
  line-height: 1.25em;
  color: $white-color;
  text-align: center;
}

.item {
  flex: 0 0 32%;
}

.card {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  @include hl-padding(left, 40px);
  @include hl-padding(right, 40px);
}
