@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  margin-top: calc(var(--unit-vertical) * 10);
  text-align: center;

  @media (min-width: 1280px) {
    // max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 4);
  margin-bottom: calc(var(--unit-vertical) * 5.5);
  line-height: 1.25em;
  color: $white-color;
  text-align: center;
  letter-spacing: -2px;
  @include media-breakpoint-down(md) {
    font-size: calc(var(--unit-font-title) * 3);
  }
}

.sliderWrapper {
  cursor: pointer;
}
