@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  @include hl-margin(top, 100px);
  @include hl-margin(bottom, 60px);
}

.form {
  @include grid-template();
}

.formTitle {
  @include col-width(12, 54);
  font-family: $font-sofia-pro;
  @include hl-font-size-text(14px);
  line-height: 1.8em;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 10px;
  @include hl-margin(bottom, 18px);

  @include media-breakpoint-down(sm) {
    @include col-width(5, 61);
  }
}

.inputWrapper {
  position: relative;
  @include hl-margin(bottom, 40px);
}

.nameWrapper {
  @include col-width(12, 32);

  @include media-breakpoint-down(sm) {
    @include col-width(5, 61);
  }
}

.companyWrapper {
  @include col-width(34, 54);

  @include media-breakpoint-down(sm) {
    @include col-width(5, 61);
  }
}

.emailWrapper {
  @include col-width(12, 54);
  @include hl-margin(bottom, 60px);

  @include media-breakpoint-down(sm) {
    @include col-width(5, 61);
  }
}

.input {
  @include hl-padding(left, 40px);
  @include hl-padding(right, 40px);
  box-sizing: border-box;
  border: 1px solid $dark-grey-color;
  background: transparent;
  width: 100%;
  @include hl-height(80px);
  color: $dark-blue-color;
  @include hl-font-size-text(18px);
  font-weight: 300;
  font-family: $font-sofia-pro;
  transition: background-color 0.2s;
  letter-spacing: 0.5px;

  &:focus,
  &.focused {
    border-color: $main-color;
    background-color: $white-color;
  }
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 130px;
  @include hl-padding(left, 40px);
  @include hl-padding(right, 40px);
  @include hl-padding(top, 40px);
  background-color: transparent;
  border: 1px solid $dark-grey-color;
  border-bottom: none;
  @include hl-font-size-text(18px);
  color: $dark-blue-color;
  font-weight: 300;
  font-family: $font-sofia-pro;
  resize: none;
  letter-spacing: 0.5px;

  &:focus {
    background-color: $white-color;
    border-color: $main-color;
  }

  &.focused {
    border-color: $main-color;
    background-color: $white-color;
  }
}

.placeholder {
  position: absolute;
  color: $grey-color;
  @include hl-font-size-text(18px);
  font-family: $font-sofia-pro;
  font-weight: 300;
  top: 50%;
  left: 0;
  @include hl-padding(left, 40px);
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: 2;
  letter-spacing: 0.5px;

  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
}

.input:focus + .placeholder,
.input.focused + .placeholder {
  @include hl-font-size-text(14px);
  transform: translate(0);
  top: 10px;
}

.input.error + .placeholder,
.textarea.error + .placeholder {
  color: $red-color;
}

.textareaWrapper {
  position: relative;
  @include col-width(12, 54);
  @include hl-margin(bottom, 56px);

  @include media-breakpoint-down(sm) {
    @include col-width(5, 61);
  }
}

.buttonWrap {
  @include col-width(12, 54);
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    @include col-width(5, 61);
  }
}

.block {
  margin-top: -8px;
  height: 90px;
  border: 1px solid $dark-grey-color;
  border-top: none;
}

.textarea:focus ~ .block,
.textarea.focused ~ .block {
  background-color: $white-color;
  border-color: $main-color;
}

.textarea.error ~ .block {
  border-color: $red-color;
}

.input.error,
.textarea.error {
  border-color: $red-color;
}

.textarea + .placeholder {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - 4px);
  top: 32px;
  @include hl-padding(left, 40px);
  left: 2px;
  z-index: 2;
  transition: font-size 0.3s, top 0.3s;

  @media screen and (max-width: $sm) {
    top: 30px;
  }
}

.textarea:focus + .placeholder,
.textarea.focused + .placeholder {
  @include hl-font-size-text(14px);
  top: 20px;
  background-color: $white-color;
  @include hl-height(40px);

  @media screen and (max-width: $sm) {
    height: 20px;
  }
}

.attachmentWrapper {
  position: absolute;
  bottom: 40px;
  left: 0;

  &.attached {
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 30px;
    top: 0;
    left: 0;

    .attachmentLabel {
      top: 0;
      left: 0;
    }

    .attachmentButton {
      display: block;
      background: none;
      border: none;
      padding: 0;
      font-size: 0;
      top: 16px;
      min-width: 17px;
      width: 17px;
      height: 17px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 50%;
        background-color: $dark-grey-color;
        transform: rotate(45deg);
        transition: background-color 0.3s;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 50%;
        background-color: $dark-grey-color;
        transform: rotate(-45deg);
        transition: background-color 0.3s;
      }

      &:hover {
        &:after {
          background-color: #fafafa;
        }
        &:before {
          background-color: #fafafa;
        }
      }
    }
  }
}

.attachmentFile {
  display: none;
}

.attachmentLabel {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  bottom: 0;
  right: 0;
  padding: 0;
  border-radius: 50%;
  font-size: 0;
  background-color: $dark-grey-color;
  border: none;
  cursor: pointer;
  background-image: url('./images/clip.svg');
  background-repeat: no-repeat;
  background-position: center;

  transition: 0.4s;
  @include media-breakpoint-down(md) {
    display: none;
  }

  &:hover {
    background-color: $main-color;
    transform: scale(1.1);
  }
}

.attachmentName {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: $font-sofia-pro;
  @include hl-font-size-text(18px);
  color: #ccccd2;
  font-weight: 300;
  padding-left: 60px;

  &.attached {
    padding-right: 30px;
  }
}

.attachmentButton {
  position: absolute;
  display: none;
  right: 0;
}

.button {
  position: relative;
  font-family: $font-sofia-pro;
  @include hl-font-size-text(14px);
  font-weight: 600;
  line-height: 2;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  @include hl-width(180px);
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 50%;
    background-color: $main-color;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.3s;
  }
  &:hover {
    &::before {
      height: 100%;
    }
  }
}
