@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  &:not(:first-child) {
    margin-top: 6.67rem;

    @media screen and (min-width: $md) {
      margin-top: 8.57rem;
    }
  }

  // reversed items -->
  &:nth-child(even) {
    .project {
      @media screen and (min-width: $md) {
        flex-direction: row-reverse;
      }
    }

    .preview {
      @media screen and (min-width: $md) {
        margin-right: -60px;
        margin-left: 0;
      }
    }

    .description {
      @media screen and (min-width: $md) {
        margin-right: -40px;
        margin-left: 0;
      }
    }

    .partners {
      margin-left: auto;
    }
  }
  // <-- reversed
}

.project {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }
}

.preview {
  flex: 1 1 auto;

  @media screen and (min-width: $md) {
    margin-left: -60px;
  }

  @media screen and (min-width: $lg) {
    // hover: the link remains the same size, but the picture becomes smaller -->
    > a {
      > div {
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
        > div {
          transform: scale(0.9);
        }
      }
    }
    // <-- hover
  }

  > a {
    display: block;
  }
}

.description {
  z-index: 10;
  flex: 0 0 auto;
  margin-top: 40px;

  @media screen and (min-width: $md) {
    flex-basis: 40%;
    margin-top: 0;
    margin-left: -40px;
  }
}

.tags {
  font-size: 1.17rem;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0.5px;
  color: #ccccd2;

  @media screen and (min-width: $md) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 1.43rem;
  }
}

.title {
  margin-top: 10px;
  font-size: 1.67rem;
  line-height: 1.25em;
  letter-spacing: 1px;

  @media screen and (min-width: $md) {
    margin-top: 1.9rem;
    font-size: 1.83rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 2.85rem;
  }

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.descriptionLink {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.42em;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: color 0.3s;

  @media screen and (min-width: $md) {
    margin-top: 3.35rem;
    font-size: 1.17rem;
  }

  @media screen and (min-width: $lg) {
    margin-top: 3.85rem;
    font-size: 1rem;

    &:hover {
      color: $yellow-color;
    }
  }

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.review {
  display: flex;
  align-items: center;
  margin-top: 34px;

  @media screen and (min-width: $md) {
    margin-top: 5rem;
  }
  @media screen and (min-width: $lg) {
    margin-top: 8.57rem;
  }
}

.avatar {
  $size: 80px;

  overflow: hidden;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.reviewContent {
  margin-left: 1.67rem;
}

.reviewText {
  font-size: 1.5rem;
  line-height: 1em;
  letter-spacing: 0.5px;

  @media screen and (min-width: $md) {
    font-size: 1.43rem;
  }
}

.reviewAuthor {
  margin-top: 1rem;
  font-size: 1.17rem;

  @media screen and (min-width: $md) {
    font-size: 1.14rem;
  }
}

.partners {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 2.34rem 0 0 4.4rem;
  padding: 0;
  max-width: 30rem;

  @media screen and (min-width: $md) {
    display: flex;
  }

  @media screen and (min-width: $lg) {
    max-width: 40rem;
  }

  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 50px;
  }
}
