@import '@styles/variables/all';
@import '@styles/mixins/all';

.section__what-we-do {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16.43rem;

  @include media-breakpoint-down(md) {
    padding-top: 8.35rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 18.35rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 15.85rem;
  }

  .section__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 68.57rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .section__inner-title {
    max-width: 21.43rem;
    font-size: 2.14rem;

    @include media-breakpoint-down(md) {
      font-size: 1.83rem;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.67rem;
      line-height: 1.5em;
    }
  }

  .section__inner-description {
    max-width: 37.86rem;
    font-size: 1.57rem;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      margin-left: 4.17rem;
      font-size: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
      margin-top: 40px;
      margin-left: 0;
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      font-size: 1.33rem;
      line-height: 1.38em;
    }
  }
}
