@import "@styles/variables/all";
@import "@styles/mixins/all";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header, .footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}
