@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
}

.title {
  font-family: $font-gramatika-black;
  font-size: 6.7rem;
  line-height: 1.2;
  color: $white-color;
  font-weight: 400;
  margin-bottom: 5.7rem;
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: 6.25rem;
    line-height: 1.46em;
    margin-bottom: 5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 4.5rem;
    line-height: 1.1em;
    margin-bottom: 2.5rem;
  }
}
