@import '@styles/variables/all';
@import '@styles/mixins/all';

@mixin expandedLink {
  [data-circle='1'] {
    transform: scale(1.94);
  }

  [data-circle='2'],
  [data-circle='3'] {
    transform: scale(3.4);
  }

  [data-circle='4'] {
    transform: scale(2.564);
  }

  .stars {
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-20deg);
    transition-delay: 0.2s;
  }

  .icon {
    opacity: 1;
    z-index: 1;
    transition-delay: 0.2s;
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  margin: 5% 0 0 -8%;
  padding: 0;
  width: 50%;
  height: 65%;

  @media screen and (min-width: $md) {
    margin-left: 0;
    width: 60%;
  }
}

.item {
  position: relative;
  opacity: 0;
  animation: appearance 0.5s forwards;

  &:nth-child(even) {
    align-self: flex-end;
  }

  @media screen and (min-width: $md) {
    &:nth-child(1) {
      margin-left: 20%;
    }

    &:nth-child(4) {
      margin-right: 20%;
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &.active {
    // mobile active item -->
    @media screen and (max-width: 767px) {
      .circle {
        background-color: $grey-color;
      }
    }

    // tablet and desktop active item -->
    @media screen and (min-width: $md) {
      @include expandedLink;
    }
  }

  @media screen and (min-width: $lg) {
    &:hover {
      @include expandedLink;
    }
  }
}

.circle {
  $size: 60px;

  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $main-color;
  transition: transform 0.5s;

  @media screen and (min-width: $md) {
    &[data-circle='1'] {
      $size: 10.24rem;

      width: $size;
      height: $size;
    }

    &[data-circle='2'],
    &[data-circle='3'] {
      $size: 5.858rem;

      width: $size;
      height: $size;
    }

    &[data-circle='4'] {
      $size: 7.75rem;

      width: $size;
      height: $size;
    }
  }
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19.86rem;
  height: 19.86rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: opacity 0.3s, transform 0.4s;
  opacity: 0;
  pointer-events: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.5s;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;

  &[data-icon='1'] {
    width: 11.33rem;
    height: 11.33rem;
  }

  &[data-icon='2'],
  &[data-icon='3'] {
    width: 13.17rem;
    height: 11.83rem;
  }

  &[data-icon='4'] {
    width: 9.75rem;
    height: 12.08rem;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 1.167rem;
  font-weight: bold;
  letter-spacing: 0.357em;
  text-transform: uppercase;
  color: #fafafa;

  @media screen and (min-width: $md) {
    font-size: 0.86rem;
    letter-spacing: 0.67em;
  }

  @media screen and (min-with: $xxl) {
    font-size: 0.96rem;
  }
}

@keyframes appearance {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
