@import '../components/blog_item';

h1{
	&.page-title{
		font-family: $font-ratiomodern;
		font-weight: 400;
		font-size: 10rem;
		color: #FFFFFF;
		letter-spacing: 0;
		line-height: 180px;
    padding-bottom: 5rem;
    padding-top: 11.4rem;

		@include media-breakpoint-down(md){
			font-size: 6.25rem;
      line-height: 1;
      padding-top: 10rem;
		}
		@include media-breakpoint-down(xs){
      font-size: 4.5rem;
			padding-bottom: 3.5rem;
		}
	}
}
.blog_list {
	display: flex;
	flex-wrap: wrap;
	@include media-breakpoint-down(xl){
		justify-content: space-between;
	}
}
.blog_list_other{
  position: relative;
  margin-top: 3.2rem;
  
  &::before {
    content: '';
    position: absolute;
    width: 150vw;
    height: 100%;
    background-color: #FFFFFF;
    z-index: -1;
    left: -8.6rem;
    bottom: 65%;
  }

  @include media-breakpoint-down(md){
    &::before {
      bottom: 80%;
      height: 300px;
    }
  }

	article:nth-child(3){
		@include media-breakpoint-down(xl){
			display: none;
		}
	}
}
.blog_list_header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5.5rem;
	@include media-breakpoint-down(xs){
		display: none;
	}
}