@import '../components/blog_item';

.blog_list {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-down(xl) {
    justify-content: space-between;
  }
}
.blog_list_other {
  position: relative;
  margin-top: 3.2rem;

  &::before {
    content: '';
    position: absolute;
    width: 150vw;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    left: -8.6rem;
    bottom: 65%;
  }

  @include media-breakpoint-down(md) {
    &::before {
      bottom: 80%;
      height: 300px;
    }
  }

  article:nth-child(3) {
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
}
