@import '@styles/variables/all';
@import '@styles/mixins/all';

.slider {
  .swiper-container {
    position: relative;
    padding-bottom: 50px;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 8px !important;
    background: #32344d;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: $white-color;
  }
  .swiper-slide {
    transition: 0.5s;
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    position: relative;
    transform: scaleY(0.8);
    & > div {
      opacity: 0;
      transition: 0.5s;
    }
    &::after {
      display: none;
    }
  }

  .swiper-slide-next {
    background: linear-gradient(
      -245.05deg,
      rgba(132, 164, 255, 0.2) 0.5%,
      rgba(2, 2, 30, 0) 41.46%
    );
  }
  .swiper-slide-prev {
    background: linear-gradient(
      245.05deg,
      rgba(132, 164, 255, 0.2) 0.5%,
      rgba(2, 2, 30, 0) 41.46%
    );
  }
  .next,
  .prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    display: none;
    background: none;
    border: none;
    border-radius: 50%;
    @include hl-width(60px);
    @include hl-height(60px);
    box-shadow: inset 0 0 0 1px #32344d;
    transition: 0.4s;
    cursor: pointer;

    @media screen and (min-width: $lg) {
      display: block;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-width: 2px;
      border-style: solid;
    }

    &:hover {
      border-color: #3719ca;
      background-color: #3719ca;
      box-shadow: inset 0 0 0 1px #3719ca;
    }
  }
  .next {
    right: calc(50% - (var(--coef-size) * 580px));

    &:before {
      border-color: rgba(#fff, 0) rgba(#fff, 1) rgba(#fff, 1) rgba(#fff, 0);
      transform: rotate(-45deg) translate(-10%, -80%);
    }
  }

  .prev {
    left: calc(50% - (var(--coef-size) * 580px));

    &:before {
      border-color: rgba(#fff, 0) rgba(#fff, 0) rgba(#fff, 1) rgba(#fff, 1);
      transform: rotate(45deg) translate(-60%, -20%);
    }
  }
}
