@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media screen and (max-width: $lg) {
    align-items: flex-end;
    padding: 0 24px;
  }

  @media screen and (max-width: $sm) {
    align-items: center;
  }
}

.message {
  @media screen and (min-width: $lg) {
    margin-top: -10px;
    max-width: 33rem;
  }

  @media screen and (min-width: $lg) {
    margin-right: -50%;
  }
}

.textWrap {
  position: relative;
}

.text {
  max-width: 40rem;
  margin: 0;
  margin-bottom: 1.2em;
  font-family: $font-gramatika;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.25;

  @include media-breakpoint-down(sm) {
    max-width: 22rem;
    margin-bottom: 70px;
    font-size: 2rem;
  }
}

.link {
  position: relative;
  font-family: $font-sofia-pro-soft;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 10px;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    width: 45%;
    left: 0;
    bottom: -10px;
    height: 1px;
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 98.41%
    );
    z-index: -1;
    transition: width 0.3s;
  }
  @media screen and (max-width: $sm) {
    display: none;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.imageWrap {
  position: absolute;
  left: -60px;
  transform: translate(-100%, -50%);
  top: 60%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  @media screen and (max-width: $sm) {
    display: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
