@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.message {
  @media screen and (min-width: $lg) {
    margin-right: -50%;
  }
}

.text {
  max-width: 40rem;
  margin: 0;
  margin-bottom: 1.2em;
  font-family: $font-gramatika-black;
  font-size: 3.6rem;
  line-height: 1.2;

  @include media-breakpoint-down(sm) {
    max-width: 22rem;
    margin-bottom: 70px;
    font-size: 2rem;
  }
}

.link {
  position: relative;
  font-family: $font-sofia-pro-soft;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 10px;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: '';
    display: inline-block;
    margin-left: 20px;
    width: 1.5rem;
    height: 0.8rem;
    background-image: url('./images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.5s;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }

  &:hover {
    &::after {
      transform: translateX(20px);
    }
  }
}
