@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  transition: all 2s;
}

// Hiding animation due when user prefers to reduce motion
// https://github.com/Halo-Lab/halo-lab/issues/185
@media (prefers-reduced-motion) {
  .container {
    display: none;
  }
}
