@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
}

.list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  margin-bottom: 72px;
  animation-name: apperancing;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 5.71rem;

  @include media-breakpoint-down(xs) {
    margin-top: 3.34rem;
  }
}

.button {
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.43em;
  letter-spacing: 0.71em;
  text-transform: uppercase;
  color: $yellow-color;
  background-color: transparent;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $main-color;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.2s;
    transform-origin: bottom;
  }
}

@keyframes apperancing {
  from {
    opacity: 0;
    top: 2rem;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
