@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  position: relative;
  @include grid-template();
}

.wrapper {
  position: relative;
  @include col-width(4, 60);
  text-align: center;
  padding-top: calc(var(--unit-vertical) * 1);
}

.title {
  display: block;
  color: $white-color;
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 4.8);
  line-height: 0.89em;
  margin: 0 auto calc(var(--unit-vertical) * 4.2);
  @include media-breakpoint-down(md) {
    font-size: calc(var(--unit-font-title) * 4);
  }
  @include media-breakpoint-down(xs) {
    font-size: calc(var(--unit-font-title) * 2.7);
    br {
      display: none;
    }
  }
  span {
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 78.41%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.circleSm1 {
  width: calc(var(--unit));
  height: calc(var(--unit));
  background: #ddebfa;
  top: calc(var(--col-width) * 18);
  right: calc(var(--col-width) * 10);
}

.circleSm2 {
  width: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
  background: linear-gradient(
    37.94deg,
    rgba(16, 8, 74, 0) 16.94%,
    #83a4ff 87.08%
  );
  top: calc(var(--col-width) * 3);
  right: calc(var(--col-width) * 7);
}

.circleMd {
  background: linear-gradient(156.8deg, #ffffff 15%, #79b0e8 75.42%);
  width: calc(var(--unit) * 3);
  height: calc(var(--unit) * 3);
  top: 0;
  left: calc(var(--col-width) * 8);
}

.circleLg {
  background: linear-gradient(
    36.94deg,
    rgba(1, 1, 18, 0) 27.49%,
    #262147 78.93%
  );
  width: calc(var(--unit) * 6);
  height: calc(var(--unit) * 6);
  bottom: -4%;
  left: 2%;
}
