@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  position: relative;
  @include grid-template();
}

.wrapper {
  position: relative;
  @include col-width(3, 61);
  text-align: center;
  @include hl-padding(top, 30px);
}

// .title {
//   display: inline-block;
//   color: $white-color;
//   font-family: $font-gramatika-black;
//   @include hl-font-size-title(92px);
//   line-height: 0.89em;
//   letter-spacing: -2px;
//   margin: 0 auto;
//   background-image: radial-gradient(
//     28.85% 28.85% at 50% 50%,
//     #ffffff 5.89%,
//     rgba(212, 233, 255, 0.67) 32.91%,
//     rgba(144, 188, 232, 0.28) 64.67%,
//     rgba(167, 199, 232, 0) 100%
//   );
//   background-color: #070728;
//   background-size: 600% 600%;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-clip: text;
//   transform-origin: bottom center;
//   -webkit-text-fill-color: transparent;
//   animation: title-scale 1s 0s cubic-bezier(0.45, 0, 0.55, 1);
//   padding-bottom: 0.5em;
//   @include hl-margin(bottom, 80px);

//   @include media-breakpoint-down(md) {
//   }
//   @include media-breakpoint-down(xs) {
//     --coef-title: 0.5;
//     br {
//       display: none;
//     }
//   }

//   span {
//     white-space: nowrap;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation-fill-mode: forwards;

//     // display: inline-block;
//     background: linear-gradient(
//       90deg,
//       #e7a28f 0.03%,
//       #f9d6ac 41.15%,
//       #fbfefc 99.97%
//     );
//     background-size: 100% 100%;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-position: 0% 0%;
//     background-repeat: no-repeat;
//   }
// }

.title {
  animation: title-scale 1s 0s cubic-bezier(0.45, 0, 0.55, 1);
  padding-bottom: 0.5em;
  max-width: 800px;
  margin: 0 auto;
  @include hl-margin(top, 30px);
  @include hl-margin(bottom, 80px);
}

.title-text {
  text-indent: -9999px;
  position: absolute;
}

.title-svg {
  width: 100%;
}

// .first-span {
//   animation: gradient-x 0.6s 0.5s cubic-bezier(0.45, 0, 0.55, 1);
// }

// .second-span {
//   animation: gradient-x 0.6s 0.7s cubic-bezier(0.45, 0, 0.55, 1);
// }

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.circleSm1 {
  @include hl-width(20px);
  @include hl-height(20px);
  background: #ddebfa;
  top: hl-grid-multiplier(18);
  right: hl-grid-multiplier(8);
  transform-origin: 0% 0%;
  animation: scale 1s 0.7s cubic-bezier(0.45, 0, 0.55, 1),
    opacity 1s 0.7s both cubic-bezier(0.45, 0, 0.55, 1);
}

.circleSm2 {
  @include hl-width(40px);
  @include hl-height(40px);
  background: linear-gradient(
    37.94deg,
    rgba(16, 8, 74, 0) 16.94%,
    #83a4ff 87.08%
  );
  top: hl-grid-multiplier(3);
  right: hl-grid-multiplier(5);
  transform-origin: 0% 75%;
  animation: scale 1s 0.8s cubic-bezier(0.45, 0, 0.55, 1),
    opacity 1s 0.8s both cubic-bezier(0.45, 0, 0.55, 1);
}

.circleMd {
  background: linear-gradient(156.8deg, #ffffff 15%, #79b0e8 75.42%);
  @include hl-width(60px);
  @include hl-height(60px);
  top: 0;
  left: hl-grid-multiplier(7);
  transform-origin: 100% 75%;
  animation: scale 1s 0.7s cubic-bezier(0.45, 0, 0.55, 1),
    opacity 1s 0.7s both cubic-bezier(0.45, 0, 0.55, 1);
}

.mobile {
  @media screen and (min-width: $sm) {
    display: none;
  }
}

@keyframes Gradient {
  0% {
    background-size: 1000px 1000px;
  }
  100% {
    background-size: 9000px 9000px;
  }
}

@keyframes position {
  0% {
    background-position: 50% 20vh;
  }
  100% {
    background-position: 50% 50%;
  }
}

@keyframes title-scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient-x {
  0% {
    display: inline-block;
    background: linear-gradient(
      90deg,
      #e7a28f 0.03%,
      #f9d6ac 41.15%,
      #fbfefc 99.97%
    );
    background-size: 0px 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }
  100% {
    display: inline-block;
    background: linear-gradient(
      90deg,
      #e7a28f 0.03%,
      #f9d6ac 41.15%,
      #fbfefc 99.97%
    );
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }
}
