@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  padding-top: 5.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: 1280px) {
    max-width: 90rem;
    margin: 0 auto;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    padding-top: 6.71rem;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 5.01rem;
  }

  &:before {
    content: '';
    display: block;
    width: 2px;
    height: 1px;
    position: absolute;
    border-radius: 15%;
    top: 0;
    left: 91%;
    z-index: -1;
    box-shadow: 0px 0px 279px 513.1px rgba(77, 54, 208, 0.3);
  }
}

.title {
  color: #fff;
  display: table-cell;
  font-family: $font-ratiomodern;
  font-style: normal;
  font-weight: 400;
  font-size: 4.57rem;
  line-height: 1.14em;
  height: 100%;
  padding: 0;
  vertical-align: middle;
  white-space: pre-wrap;

  @media screen and (max-width: 1024px) {
    font-size: 4.17rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 3.34rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 3.7rem;
    line-height: 1.5;
    br {
      display: none;
    }
  }
  @include media-breakpoint-down(xs) {
    font-size: 2.5rem;
  }
  span {
    color: #84a4ff;
  }
}

.subtitle {
  position: relative;
  max-width: 25.7rem;
  font-size: 1.43rem;
  line-height: 1.5em;
  padding-left: 5em;
  margin-top: 7.86rem;

  @include media-breakpoint-down(sm) {
    margin-top: 5.86rem;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3.5em;
    height: 2.5em;
    background: url('./images/quotes.svg') no-repeat center;
    background-size: contain;
    margin: auto;
  }
}
