@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  position: relative;
  @include grid-template();
}

.wrapper {
  position: relative;
  @include col-width(3,62);
  text-align: center;
  padding-top: var(--unit-vertical);

}

.title {
  display: block;
  color: $white-color;
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 4.8);
  line-height: 1.14em;
  margin:  0 auto calc(var(--unit-vertical) * 4);

  @include media-breakpoint-down(md) {
    font-size: calc(var(--unit-font-title) * 4);
  }
  @include media-breakpoint-down(xs) {
    font-size: calc(var(--unit-font-title) * 2.7);
    br {
      display: none;
    }
  }
  span {
    background: linear-gradient(90deg,#E7A28F 1.59%, #FBDDB0 50%, #FBFEFD 78.41%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.circleSm1 {
  width: calc(var(--unit));
  height: calc(var(--unit));
  background: #DDEBFA;
  top: calc(var(--col-width) * 20);
  right: calc(var(--col-width) * 8);
}

.circleSm2 {
  width: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
  background: linear-gradient(37.94deg, rgba(16, 8, 74, 0) 16.94%, #83A4FF 87.08%);
  right: 7%;
  top: 10%;
}

.circleMd {
  background: linear-gradient(156.8deg, #FFFFFF 15%, #79B0E8 75.42%);
  width: calc(var(--unit) * 3);
  height: calc(var(--unit) * 3);
  top: 0;
  left: calc(var(--col-width) * 7);
}

.circleLg {
  
  background: linear-gradient(36.94deg, rgba(1, 1, 18, 0) 27.49%, #262147 78.93%);
  width: calc(var(--unit) * 6);
  height: calc(var(--unit) * 6);
  bottom: 0;
  left: 0;
}

