@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  position: relative;
  @include grid-template();
}

.wrapper {
  position: relative;
  @include col-width(4, 60);
  text-align: center;
  // padding-top: calc(var(--unit-vertical) * 1);
  @include hl-padding(top, 20px);
}

.title {
  display: block;
  color: $white-color;
  font-family: $font-gramatika-black;
  @include hl-font-size-title(96px);
  line-height: 0.89em;
  margin: 0 auto;
  @include hl-margin(bottom, 80px);

  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(xs) {
    --coef-title: 0.5;
    br {
      display: none;
    }
  }
  span {
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 78.41%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.circleSm1 {
  // width: calc(var(--unit));
  // height: calc(var(--unit));
  @include hl-width(20px);
  @include hl-height(20px);
  background: #ddebfa;
  // top: calc(var(--col-width) * 18);
  // right: calc(var(--col-width) * 10);
  top: hl-offset(18);
  right: hl-offset(10);
}

.circleSm2 {
  // width: calc(var(--unit) * 2);
  // height: calc(var(--unit) * 2);
  @include hl-width(40px);
  @include hl-height(40px);
  background: linear-gradient(
    37.94deg,
    rgba(16, 8, 74, 0) 16.94%,
    #83a4ff 87.08%
  );
  // top: calc(var(--col-width) * 3);
  // right: calc(var(--col-width) * 7);
  top: hl-offset(3);
  right: hl-offset(7);
}

.circleMd {
  background: linear-gradient(156.8deg, #ffffff 15%, #79b0e8 75.42%);
  // width: calc(var(--unit) * 3);
  // height: calc(var(--unit) * 3);
  @include hl-width(60px);
  @include hl-height(60px);
  top: 0;
  // left: calc(var(--col-width) * 8);
  left: hl-offset(8);
}

.circleLg {
  background: linear-gradient(
    36.94deg,
    rgba(1, 1, 18, 0) 27.49%,
    #262147 78.93%
  );
  // width: calc(var(--unit) * 6);
  // height: calc(var(--unit) * 6);
  @include hl-width(120px);
  @include hl-height(120px);
  bottom: -4%;
  left: 2%;
}
