@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  padding-top: calc(var(--unit-vertical) * 5);

  &::before {
    content: '';
    position: absolute;
    width: calc(var(--unit-vertical) * 3);
    height: calc(var(--unit-vertical) * 3);
    border-radius: 50%;
    background-image: url('../../../../../../assets/images/sections/home-testimonials/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
  }
}

.title {
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 1.5);
  margin-bottom: calc(var(--unit-vertical) * 3);
}

.link {
  position: relative;
  font-weight: 600;
  font-size: calc(var(--unit-sm-text) * 0.7);
  line-height: 1.4em;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;

  &::before {
    content: '';
    position: absolute;
    width: 42%;
    left: 0;
    bottom: -10px;
    height: 1px;
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 98.41%
    );
    z-index: -1;
    transition: width 0.3s;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }

  &:hover {
    @include media-breakpoint-up(lg) {
      &::before {
        width: 100%;
      }
    }
  }
}
