@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  @include hl-padding(top, 100px);
  @media screen and (max-width: $md) {
    --coef-indent: 0.7;
  }

  &::before {
    content: '';
    position: absolute;
    @include hl-width(60px);
    @include hl-height(60px);
    border-radius: 50%;
    background-image: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
  }
}

.title {
  font-family: $font-gramatika-black;
  @include hl-font-size-title(30px);
  @include hl-margin(bottom, 60px);
  line-height: 1.35;
}

.link {
  position: relative;
  font-weight: 600;
  @include hl-font-size-text(14px);
  line-height: 1.4em;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;
  letter-spacing: 10px;

  &::before {
    content: '';
    position: absolute;
    width: 45%;
    left: 0;
    bottom: -10px;
    height: 1px;
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 98.41%
    );
    z-index: -1;
    transition: width 0.3s;
  }
  @media screen and (max-width: $sm) {
    display: none;
  }

  &:hover {
    @media screen and (max-width: $lg) {
      &::before {
        width: 100%;
      }
    }
  }
}
