@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: calc(var(--unit-vertical) * 10);
  padding-top: calc(var(--unit-vertical) * 10);
  padding-bottom: calc(var(--unit-vertical) * 10);
  padding-left: calc(var(--unit-vertical) * 2);
  padding-right: calc(var(--unit-vertical) * 2);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 126px);
    background: linear-gradient(0deg, #3719ca, #3719ca),
      linear-gradient(89.64deg, #3719ca 0.16%, #8161fe 99.8%);
    left: 0;
    top: 0;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--unit) * 20);
    height: calc(var(--unit) * 20);
    border-radius: 50%;
    background: linear-gradient(
        258.52deg,
        #3719ca -132.34%,
        rgba(55, 25, 202, 0) 22.57%
      ),
      linear-gradient(
        283.68deg,
        rgba(235, 174, 149, 0) 45.54%,
        rgba(235, 174, 149, 0.19) 130.68%
      ),
      linear-gradient(3.27deg, #02021e 13.68%, #262147 142.62%);
    box-shadow: 0px 50.1359px 100.272px rgba(2, 2, 30, 0.2);
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.3s;
    @include media-breakpoint-down(sm) {
      width: calc(var(--unit) * 16);
      height: calc(var(--unit) * 16);
    }
  }
}

.title {
  position: relative;
  color: $white-color;
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 4.8);
  line-height: 1.14em;
  margin: 0;

  @include media-breakpoint-down(md) {
    font-size: calc(var(--unit-font-title) * 4);
    &::before,
    &::after {
      display: none;
    }
  }
  @include media-breakpoint-down(xs) {
    font-size: calc(var(--unit-font-title) * 2.7);
  }
  span {
    background: linear-gradient(
      124.11deg,
      #e7a28f 3.52%,
      #f9d6ac 41.89%,
      #fbfefc 96.77%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &::before {
    content: '';
    position: absolute;
    width: calc(var(--unit) * 3);
    height: calc(var(--unit) * 3);
    background: linear-gradient(156.8deg, #ffffff 15%, #79b0e8 75.42%);
    top: -20%;
    right: -20%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    width: calc(var(--unit) * 1);
    height: calc(var(--unit) * 1);
    background: #ddebfa;
    bottom: -20%;
    left: -10%;
    border-radius: 50%;
  }
}

.link {
  position: relative;
  font-family: $font-sofia-pro;
  font-size: calc(var(--unit-sm-text) * 0, 7);
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;
  margin-top: calc(var(--unit-vertical) * 2.2);
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 50%;
    background-color: $main-color;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.3s;
  }
  &:hover {
    &::before {
      height: 100%;
    }
  }
}
