@import '@styles/mixins/all';

.container {
  overflow: hidden;
  position: relative;
}

.ticker {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  will-change: transform;
}

.item {
  flex: 0 0 32%;
}

.card {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  @include hl-padding(left, 40px);
  @include hl-padding(right, 40px);
}

.asideLeft,
.asideRight {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 10;
}

.asideLeft {
  left: 0;
}

.asideRight {
  right: 0;
}
