@import "@styles/variables/all";
@import "@styles/mixins/all";
@import "@functions/functions";

.headline {
  padding-top: 11.4rem;
}

.headline-truncated {
  padding-top: 7.5rem;

  @media screen and (max-width: $sm) {
    padding-top: 6rem;
  }
}

.container {
  @include grid-template();
  @include col-width(1, 65);
}

.image-box {
  @include hl-margin("top", 65px);
  @include col-width(5, 61);

  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
}

.next-image-box {
  height: 180px;
  overflow: hidden;
}

.picture {
  max-width: 1120px;
  width: 100%;
  height: auto;
}

.next-image-box .picture {
  position: absolute;
}
