@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  @include grid-template();
  margin-top: calc(var(--unit-vertical) * 10);
  margin-bottom: calc(var(--unit-vertical) * 10);
}

.title {
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 1.5);
  @include col-width(9,24);
  
  @include media-breakpoint-down(sm) {
    @include col-width(4,60);
    margin-bottom: calc(var(--unit-vertical) * 3);
  }
}

.description {
  font-size: calc(var(--unit-sm-text) * 0.9);
  font-weight: 300;
  line-height: 1.6;
  opacity: 0.9;
  letter-spacing: 0.5px;
  @include col-width(30,57);

  @include media-breakpoint-down(sm) {
    @include col-width(4,60);
  }
}
