@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

:root {
  --coef-indent: 1; // for margin and padding
  --coef-title: 1; // for title font-size
  --coef-text: 1; // for regular text which size less than 20px font-size
  --coef-size: 1; // for element width, height

  @media screen and (max-width: 1024px) {
    --coef-title: 0.9;
    --coef-text: 0.9;
  }

  @media screen and (max-width: $md) {
    --coef-indent: 0.7;
    --coef-title: 0.8;
    --coef-size: 0.8;
  }
  @media screen and (max-width: $sm) {
    --coef-indent: 0.5;
    --coef-size: 0.7;
  }

  @media screen and (min-width: 1600px) {
    --coef-indent: 1.25;
    --coef-title: 1.25;
    --coef-text: 1.25;
    --coef-size: 1.25;
  }
}

.pageWrapper {
  margin: 0 auto;
  max-width: 1600px;
  font-family: $font-sofia-pro;
}

.oldPageWrapper {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 90rem;
  @media screen and (min-width: 768px) {
    padding-right: 4.28rem;
    padding-left: 4.28rem;
  }
}
