body {
  overflow-x: hidden;
}
.big-stars-bg-wrap,
.small-stars-bg-wrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  // transition: all 0.5s ease-out;
}
.big-stars-bg {
  background-image: url("../../images/big-stars.svg");
  background-repeat: repeat;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  
  &.active {
    transition: 0.5s ease-out;
    opacity: 0;
    transform: scale(3);
  }
}
.small-stars-bg {
  background-image: url("../../images/small-stars.svg");
  background-repeat: repeat;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  overflow: hidden;

  &.active-small {
    transition: 0.7s ease-out;
    transform: scale(1.3);
  }
}
.hidden-stars {
  background-image: url("../../images/small-stars.svg");
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.4);
  opacity: 0;

  &.active-hidden {
    transition: all 0.7s ease-out;
    transform: scale(0.8);
    opacity: 1;
  }
}
