.button{
	font-family: $font-sofia-pro;
	font-size: 1rem;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 0.3rem;
	line-height: 1.43rem;
	padding: 1rem;
	text-indent: 0.3rem;
	display: inline-block;
	border: solid 1px #fff;
	background: transparent;
	min-width: 9.5rem;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s;
	@include media-breakpoint-down(md){
		letter-spacing: 0.5rem;
		text-indent: 0.5rem;
	}
	&:hover{
		border-color: $main-color;
		background: $main-color;
	}
	&--load_more {
    // display: none;
		position: relative;
		background: $main-color;
		border-color: $main-color;
		padding: 1rem 1.35rem;
		letter-spacing: 0.3rem;
		line-height: 2.1rem;
      @include media-breakpoint-down(md){
        padding: 1.35rem 3.6rem;
      }
		}
		&:hover{
			background: #5d59e8;
			border-color: #5d59e8;
		}
	
}

.button--main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;
  background-color: $main-color;
  border: none;
}

.button--load_more .spinner {
  display: inline-block;
  font-size: 10px;
  text-indent: -9999em;
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
  vertical-align: text-bottom;
  margin-right: 1.7rem;

  &::before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  &::after {
    background: #3719ca;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s;
  }
}

.button--load_more:hover .spinner {
  &::after {
    background: #5d59e8;
  }
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}