.category_list {
  padding: 0;
  display: flex;
  list-style: none;
  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
  }
  li {
    margin-top: 2.4rem;
    &:not(:last-child) {
      margin-right: 3rem;
      @include media-breakpoint-down(xl) {
        margin-right: 2.5rem;
      }
      @include media-breakpoint-down(md) {
        margin-right: 1.5rem;
      }
      @include media-breakpoint-down(xs) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
