::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #80808E;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #80808E;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #80808E;
}
:-moz-placeholder { /* Firefox 18- */
	color: #80808E;
}

input{
	font-family: $font-sofia-pro;
	color: #fff;
	padding: 0 10rem 0 1.45rem;
	box-sizing: border-box;
	border: solid 1px #fff;
	background: transparent;
	font-size: 1.3rem;
	width: 100%;
	height: 3.6rem;
}
button{
	cursor: pointer;
	background: #32344D;
	color: #fff;
	border: none;
	font-family: $font-sofia-pro;
	font-size: 1rem;
	letter-spacing: 0.7rem;
	line-height: 1.43rem;
	padding: 1rem;
	text-indent: 0.7rem;
	min-width: 10rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: bold;
	height: 3.6rem;
	&:hover{
		background: $main-color;
	}
}



.modal-form-subscribe{
	position: relative;
	button{
		position: absolute;
		bottom: 1px;
		right: 1px;
		height: calc(3.6rem - 2px);
	}
	label{
		margin: 0;
		span{
			font-family: $font-sofia-pro;
			font-size: 1.3rem;
			font-weight: bold;
			color: #80808E;
			text-transform: uppercase;
			letter-spacing: 5px;
			line-height: 20px;
			margin-bottom: 1rem;
			display: inline-block;
		}
	}
}
.subscribe_form{
  position: relative;
	width: 37%;
	max-width: 31.5rem;
	@include media-breakpoint-down(sm){
		display: none;
	}
	.yikes-easy-mc-form input[type=email]{
		width: 0;
		padding: 0;
		margin: 0 0px 0 auto;
		border-width: 0px;
		border: solid 0px #fff;
	}
	label span{
		opacity: 0;
		transform: translateY(0.5rem);
		
		font-size: 1rem;
	}
	button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
		letter-spacing: 0.45rem;
    transition: .4s;

    span {
      display: inline-flex;
      padding: 1rem 1rem;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
	}

	&.subscribe_form--show{
		.yikes-easy-mc-form input[type=email]{
			width: 100%;
			padding: 0 10rem 0 1.45rem;
			border-width: 1px;
			transition: .6s;
		}
		label span{
			opacity: 1;
			transform: translateY(0rem);
			transition: .6s;
    }
    
    .button:disabled {
      background-color: #32344D;
      border: none;
    }
    .button:disabled:hover {
      background-color: #32344D;
      border: none;
    }
    .button {
      background-color: $main-color;
      border: none;
    }

    .button:hover {
      background-color: #5d59e8;
    } 
	}
	.yikes-easy-mc-success-message{
    position: absolute;
    top: 4px;
    right: 0;
    margin: 0;
    padding: 0;
    padding-right: 52px;
    background: transparent;
    font-family: $font-sofia-pro;
    font-weight: 300;
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: $white-color;
    display: block !important;
    
    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/success-subscibe.svg");
      background-repeat: no-repeat;
    }
	}
}