@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  padding-top: 11.4rem;
  img {
    background: linear-gradient(89.69deg, #3719CA 0.16%, #8161FE 99.8%);
    position: relative;
    mix-blend-mode: normal;
  }
}