@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

$layoutSwitchResolution: 1100px;

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(64, calc(100% / 57));
  @include hl-padding(top, 150px);
  @include hl-padding(bottom, 150px);
  @include col-width(1, 65);
  &::before {
    content: '';
    position: absolute;
    @include hl-width(100px);
    @include hl-height(100px);
    border-radius: 50%;
    background: linear-gradient(
        35.65deg,
        rgba(1, 1, 18, 0) 22.19%,
        rgba(128, 97, 254, 0.63) 79.06%
      ),
      #02021e;
    transform: matrix(0, -1, 1, 0, 0, 0);
    bottom: hl-grid-multiplier(7);
    right: hl-grid-multiplier(-5);
    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    @include hl-width(40px);
    @include hl-height(40px);
    border-radius: 50%;
    background: linear-gradient(
      37.89deg,
      rgba(16, 8, 74, 0) 16.94%,
      rgba(61, 57, 255, 0.63) 87.08%
    );
    transform: matrix(0.99, 0.15, -0.15, 0.99, 0, 0);
    bottom: hl-grid-multiplier(6);
    left: hl-grid-multiplier(-4);
    @media screen and (max-width: $md) {
      display: none;
    }
  }
  @media screen and (max-width: $sm) {
    display: block;
  }
}

.block {
  position: relative;
  @include col-width(6, 53);
  @include hl-padding(bottom, 60px);
  @include hl-padding(top, 50px);
  @include hl-padding(right, 100px);
  @include hl-padding(left, 100px);
  display: flex;
  justify-content: space-between;
  background: linear-gradient(88.91deg, #3719ca 0.16%, #8161fe 99.8%);
  &::before {
    content: '';
    position: absolute;
    @include hl-width(100px);
    @include hl-height(100px);
    border-radius: 50%;
    background: linear-gradient(156.8deg, #ffffff 15%, #79b0e8 75.42%);
    top: -40px;
    left: -40px;
    @media screen and (max-width: $sm) {
      display: none;
    }
  }
  @media screen and (max-width: $layoutSwitchResolution) {
    flex-direction: column;
  }
  @media screen and (max-width: $sm) {
    margin-left: hl-grid-multiplier(-3);
    margin-right: hl-grid-multiplier(-3);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  max-width: 320px;
  font-family: $font-gramatika;
  font-weight: 900;
  @include hl-font-size-title(30px);
  line-height: 45px;

  @media screen and (max-width: $layoutSwitchResolution) {
    width: 100%;
    @include hl-margin(bottom, 40px);
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  @include hl-width(360px);
  @include hl-padding(top, 28px);
  @include hl-padding(bottom, 15px);
  border-bottom: 2px solid $white-color;

  @media screen and (max-width: $layoutSwitchResolution) {
    max-width: 100%;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: $sm) {
    width: 100%;
    padding: 0;
  }
}

.form {
  display: block;
  max-width: 100%;
}

.input {
  font-family: $font-sofia-pro;
  background: transparent;
  border: none;
  @include hl-font-size-text(16px);
  color: $white-color;
  letter-spacing: 6px;
  text-transform: uppercase;
  width: 100%;
  padding-right: 10px;
  &::placeholder {
    @include hl-font-size-text(14px);
    line-height: 1.7;
    letter-spacing: 10px;
    text-transform: uppercase;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }

  &:hover {
    &::placeholder {
      opacity: 0;
    }

    & ~ .label {
      opacity: 0.5;
    }
  }
}

.label {
  position: absolute;
  top: 9px;
  left: 0;
  display: inline-block;
  font-family: $font-gramatika;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: $layoutSwitchResolution) {
    top: 0;
  }
}

.svg {
  & circle {
    transition: all 0.3s ease-in-out;
    fill: transparent;
    stroke: white;
  }

  & path {
    transition: all 0.3s ease-in-out;
    stroke: white;
    fill: white;
  }
}

.inputWrapper.error {
  border-bottom: 1px solid $red-on-blue-color;
}

.button {
  border: none;
  background: none;
  padding: 5px 0 0;
  cursor: pointer;
  font-size: 0;
  line-height: 0;

  &:hover {
    & .svg {
      & circle {
        fill: white;
      }

      & path {
        stroke: #7f5ffc;
        fill: #7f5ffc;
      }
    }
  }
}

.successMessage {
  position: relative;
  font-size: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('./images/success-icon.svg');
    background-size: contain;
    right: 0;
  }
}

.smPlanet {
  &::before {
    content: '';
    position: absolute;
    @include hl-width(15px);
    @include hl-height(15px);
    border-radius: 50%;
    background: #ddebfa;
    top: hl-grid-multiplier(5);
    right: hl-grid-multiplier(1.1);
  }
  @media screen and (max-width: $sm) {
    display: none;
  }
}
