@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $font-sofia-pro;
  font-weight: 700;
  line-height: 1.55em;
  text-transform: uppercase;
  @include hl-font-size-text(12px);
}

.category-separator{
  margin: 0 8px;
}

.item {
  margin-top: 16px 8px 0;

  .link {
    color: white;
  }
}

.link {
  text-decoration: none;
  &:hover {
    color: $yellow-color;
    transition: 0.4s;
  }
}
