@import "@styles/variables/all";
@import "@styles/mixins/all";

.project + .project {
  margin-top: 8.57rem;
  @include media-breakpoint-down(sm) {
    margin-top: 6.67rem;
  }
}

.project__container {
  display: flex;
  align-items: center;
  margin-left: -4.4rem;

  @media (max-width: 1024px) {
    margin-left: -5rem;
    margin-right: -5rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-start;
  }
}

.project--reverse .project__container {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: -4.4rem;

  @media (max-width: 1024px) {
    margin-right: -5rem;
  }

  @include media-breakpoint-down(sm) {
    margin: 0;
    flex-direction: column;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 0;
  }
}

.project--reverse .project__partners-list {
  margin-left: auto;
}

.project:not(.project--reverse) .project__text-container {
  padding-right: 10px;
}

.project--reverse .project__partners-item:nth-child(1),
.project--clock .project__partners-item:nth-child(1) {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.project__media-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    width: 100%;
  }
}

.project__image-container {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  // padding-top: 4.3rem;
  z-index: 3;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    transform: scale(0.9);
  }
  a {
    display: block;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0;
    padding-top: 4.3rem;
    &::before {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
    margin-left: -60px;
    margin-right: -60px;
    width: 100vw;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
    margin-left: -1.67rem;
    margin-right: -1.67rem;
  }
}

.project--reverse .project__image-container {
  &::before {
    left: 0;
  }
  @include media-breakpoint-down(md) {
    padding-left: 0;
    &::before {
      left: 50%;
    }
  }
}

.project--reverse .project__text-container {
  margin: 0;
  margin-right: -40px;
  @include media-breakpoint-down(md) {
    max-width: 100%;
    margin-left: 0;
    margin-top: 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 3.4rem;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 0;
    margin-top: 2.5rem;
  }
}

.project__image-container img {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  max-width: 57.15rem;
  @media (min-width: 1920px) {
    width: 50rem;
  }
  @include media-breakpoint-down(md) {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.project__text-container {
  position: relative;
  max-width: 28.6rem;
  margin-left: -40px;
  z-index: 11;

  @include media-breakpoint-down(md) {
    max-width: 100%;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 3.4rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 2.5rem;
  }
}

.project__tags {
  font-weight: 300;
  font-size: 1.43rem;
  line-height: 1em;
  letter-spacing: 0.5px;
  color: #ccccd2;
  margin-bottom: 1.9rem;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.17rem;
    margin-bottom: 10px;
  }
}

.project__title {
  font-weight: 400;
  font-size: 2.85rem;
  line-height: 1.25em;
  letter-spacing: 1px;
  margin-bottom: 3.85rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.83rem;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 3.35rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.67rem;
    margin-bottom: 2rem;
  }
}

.project__link {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.42em;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;

  @include media-breakpoint-down(md) {
    font-size: 1.17rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    color: $yellow-color;
  }
}

.project__link:hover {
  @include media-breakpoint-up(md) {
    color: $yellow-color;
  }
}

.project__review-container {
  display: flex;
  align-items: center;
  margin-top: 8.57rem;
  @include media-breakpoint-down(md) {
    margin-top: 5rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 34px;
  }
}

.project__avatar {
  border-radius: 50%;
  margin-right: 10px;
  width: 80px;

  @include media-breakpoint-up(md) {
    margin-right: 1.67rem;
  }

  @media (min-width: 1920px) {
    width: 3.75rem;
  }
}

.project__review {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.43rem;
  line-height: 1em;
  letter-spacing: 0.5px;
  color: #ffffff;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}

.project__author {
  margin: 0;
  font-size: 1.14rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.17rem;
  }
}

.project__partners-list {
  margin: 0;
  padding: 0;
  margin-top: 2.34rem;
  margin-left: 4.4rem;
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    max-width: 30rem;
  }

  @include media-breakpoint-down(sm) {
    max-width: none;
    display: none;
  }
}

.project__partners-item + .project__partners-item {
  @include media-breakpoint-down(md) {
    margin-left: 7.5rem;
  }

  @include media-breakpoint-down(xs) {
    margin-left: 5rem;
  }
}

.project__partners-item img,
.clients__item img {
  @media (min-width: 1921px) {
    transform: scale(1.2);
  }

  @media (min-width: 2400px) {
    transform: scale(1.4);
  }

  @media (min-width: 3500px) {
    transform: scale(1.7);
  }
}

.project--reverse .project__partners-item + .project__partners-item,
.project--clock .project__partners-item + .project__partners-item {
  @media screen and (min-width: 576px) and (max-width: 1024px) {
    margin-left: 2.5rem;
  }
}

.project--reverse .project__partners-item + .project__partners-item {
  @include media-breakpoint-down(xs) {
    margin-left: 3rem;
  }
}

.project--clock .project__partners-item + .project__partners-item {
  @include media-breakpoint-down(xs) {
    margin-left: 3.5rem;
  }
}

.project--reverse .project__partners-item:nth-child(2),
.project--clock .project__partners-item:nth-child(2) {
  @include media-breakpoint-down(xs) {
    margin-left: 0;
  }
}

.project--clock .project__image-container {
  padding-left: 0;
  @include media-breakpoint-down(md) {
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-left: -60px;
    margin-right: -60px;
  }

  @include media-breakpoint-down(xs) {
    margin-left: -1.67rem;
    margin-right: -1.67rem;
  }
}

.project__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.43em;
  letter-spacing: 0.71em;
  text-decoration: none;
  color: $yellow-color;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $main-color;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.2s;
    transform-origin: bottom;
  }

  svg {
    display: block;
    width: 1.14em;
    height: auto;
    margin-left: 0.36em;
    fill: currentColor;
  }
}

.portfolio__button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 5.71rem;

  @include media-breakpoint-down(xs) {
    margin-top: 3.34rem;
  }

  a {
    @media screen and (max-width: 1200px) {
      font-size: 14px;
    }
  }
}

.project__button:hover {
  color: #ffffff;

  svg {
    fill: currentColor;
  }
  @include media-breakpoint-up(md) {
    &:before {
      transform: scaleY(1);
    }
  }
}
