@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  align-items: center;
  @include grid-template();
  @include hl-margin(top, 140px);
}

.title {
  font-family: $font-gramatika;
  font-weight: 700;
  @include hl-font-size-title(36px);
  line-height: 1.25;
  text-align: center;
  @include col-width(5, 61);
  grid-row: 1;

  @media screen and (min-width: $md) {
    text-align: left;
    white-space: nowrap;
    margin-bottom: auto;
    @include col-width(9, 15);
    @include hl-margin(top, 44px);
  }

  @media screen and (min-width: $lg) {
    @include col-width(9, 15);
  }

  br {
    display: none;

    @media screen and (min-width: $md) {
      display: inline;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  @include hl-margin(top, 60px);
  box-shadow: inset 1px 1px 0px 0.25px #32344d;
  padding: 0;
  @include col-width(5, 61);
  grid-row: 2;

  @media screen and (min-width: $sm) {

  }

  @media screen and (min-width: $md) {
    @include col-width(28, 65);
    margin-top: 0;
    grid-row: 1;
  }

  @media screen and (min-width: $lg) {

    @include col-width(24, 65);
  }

  li {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 0px 0.25px #32344d;

    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    @media screen and (min-width: $sm) {
      width: 50%;
    }

    @media screen and (min-width: $lg) {
      width: 33.3%;
    }
  }

  img {
    width: 100%;
    height: auto;
    @media screen and (max-width: $md) {
      --coef-size: 0.9;
    }
  }

  li:nth-of-type(1) img {
    @include hl-width(83px);
  }
  li:nth-of-type(2) img {
    @include hl-width(128px);
  }
  li:nth-of-type(3) img {
    @include hl-width(98px);
  }
  li:nth-of-type(4) img {
    @include hl-width(90px);
  }
  li:nth-of-type(5) img {
    @include hl-width(44px);
  }
}

.listItemDescription {
  line-height: 1.3em;
  font-weight: 600;
  font-size: 14px;
  @include hl-margin(bottom, 45px);

  @media screen and (min-width: $sm) {
    @include hl-font-size-text(22px);
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 1.67em;
  letter-spacing: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  background: $main-color;
  color: inherit;

  font-size: calc(var(--unit-sm-text) * 0.7);

  @media screen and (min-width: $lg) {
    line-height: 2.14em;
    letter-spacing: 0.71em;
  }

  .linkText {
    transition: transform 0.3s ease-out;
  }

  &:hover .linkText {
    transform: scale(0.9);
  }
}
