@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  padding: 180px 0;
  background-color: #fff;

  font-family: $font-sofia-pro;
  font-size: 1.3rem;
  letter-spacing: 0;
  line-height: 2.15rem;
  font-weight: 300;
  color: $dark-color;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 735px;
}
