@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  @include hl-margin('top', -160px);
  @include hl-padding('top', 190px);
  @include hl-padding('bottom', 100px);
  @include hl-font-size-text(18px);
  background-color: #fff;
  font-family: $font-sofia-pro;
  line-height: 1.6em;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: $dark-color;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.wrapper {
  @include hl-max-width(720px);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
