@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  margin: -40px 0 -120px;
  padding: 80px 0 180px;

  background-color: #fff;
  font-family: $font-sofia-pro;
  font-size: 1.3rem;
  letter-spacing: 0;
  line-height: 2.15rem;
  font-weight: 300;
  color: $dark-color;

  @media screen and (min-width: $md) {
    margin: -80px 0 -200px;
    padding: 200px 0 300px;
  }

  @media screen and (min-width: $lg) {
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 690px;

  @media screen and (min-width: $lg) {
    max-width: 775px;
  }
}
