@import '@styles/variables/all';
@import '@styles/mixins/all';

// need to be remove -->
.item {
  display: block;
  box-sizing: border-box;
  border: 2px solid white;
  height: 200px;
  background-color: navy;
  color: white;
  text-align: center;
  font-size: 32px;
}

.sliderWrapper {
  cursor: pointer;
}
// <-- need to be remove

.container {
  margin-top: 12.3rem;
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-top: 5rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 7.5rem;
  }

  @media (min-width: 1280px) {
    // max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  font-family: $font-ratiomodern;
  font-size: 10rem;
  line-height: 1.285em;
  color: $white-color;
  font-weight: 400;
  margin-bottom: 8.57rem;
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: 6.25rem;
    line-height: 1.46em;
    margin-bottom: 5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 4.5rem;
    line-height: 1.1em;
    margin-bottom: 2.5rem;
  }

  position: relative;
  display: inline-flex;
  font-size: 6.86rem;
  line-height: 1.46em;
  margin-bottom: 4.32rem;

  @include media-breakpoint-down(sm) {
    font-size: 6.25rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 3.33rem;
    margin-bottom: 1.7rem;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0.42em;
    right: -0.31em;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 rgba(#e72121, 0.3);
    border-radius: 50%;
    background: rgba(#e72121, 1);
    animation: pulse 2s infinite ease-out;

    @media screen and (min-width: 1281px) {
      width: 0.86rem;
      height: 0.86rem;
    }

    @include media-breakpoint-down(sm) {
      width: 8px;
      height: 8px;
      animation: pulse-sm 2s infinite ease-out;
    }

    @include media-breakpoint-down(xs) {
      top: 0.32em;
      right: -0.51em;
    }
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 0.64rem rgba(#e72121, 0.15);
  }
}

@keyframes pulse-sm {
  to {
    box-shadow: 0 0 0 6px rgba(#e72121, 0.15);
  }
}
