@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  @include grid-template();
  margin-top: calc(var(--unit-vertical) * 10);
}

.aside {
  @include col-width(7, 22);
  @include media-breakpoint-down(md) {
    @include col-width(4, 22);
  }
  @include media-breakpoint-down(sm) {
    @include col-width(5, 59);
  }
}

.main {
  @include col-width(28, 59);
  @include media-breakpoint-down(md) {
    @include col-width(28, 61);
  }
  @include media-breakpoint-down(sm) {
    @include col-width(5, 59);
  }
}
