@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  flex-direction: column;
  padding-top: 11.17rem;

  @media screen and (min-width: $md) {
    flex-direction: row;
    padding-top: 7.5rem;
  }

  @media screen and (min-width: $lg) {
    padding-top: 14.28rem;
  }
}

.aside {
  flex: 0 0 100%;

  @media screen and (min-width: $md) {
    flex-basis: 35%;
  }

  @media screen and (min-width: $lg) {
    flex-basis: 25%;
  }
}

.main {
  flex: 1 1 auto;
}
