* {
	outline: none;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-size: 18px;
	min-height: 100%;
	margin: 0;
  padding: 0;

  @include fluid-type(1920px, 5120px, 18px, 20px);

	@media screen and (max-width: 1920px) {
		font-size: 16px;
	}
	@media screen and (max-width: 1400px) {
		font-size: 14px;
	}
	@media screen and (max-width: 1200px) {
		font-size: 12px;
	}
}
body {
	background: url("../images/glow.png") left top no-repeat #02031d;
	background-size: 70% 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
body:not(.body-inside) #wrapper {
	@include media-breakpoint-down(xs){
		padding: 0 15px;
	}
}
#wrapper {
  min-height: 100%;
  
  overflow-x: hidden;

	padding: 0 4.28rem;
	@media screen and (max-width: 1300px) {
		padding: 0 4.28rem;
	}
	@media screen and (max-width: 1024px) {
		padding: 0 5rem;
	}
	@include media-breakpoint-down(sm){
		padding: 0 60px;
	}
	@include media-breakpoint-down(xs){
		padding: 0 1.67rem;
	}
}
.content-area{
	@include media-breakpoint-down(xs){
		padding-top: 3.5rem;
		padding-bottom: 3rem;
	}
}

.body-inside{
	color: #fff;
	background: $dark-color;
	// background-image: url("../img/stars_bg.jpg");
	height: auto;
	position: relative;
	background-size: 100% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.tac{
	text-align: center;
}
.copyright{
	font-size: 1.2rem;
	color: #fff;
	font-family: $font-sofia-pro;
	display: flex;
	align-items: center;
	margin: 0;
	.footer-logo{
		margin-right: 0.5rem;
	}
}
img{
	max-width: 100%;
	height: auto;
}
.block_title{
	font-family: $font-sofia-pro;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 1.43rem;
  margin-top: 1.8rem;
  color: $dark-color;
	@include media-breakpoint-down(xs){
    letter-spacing: 8.5px;
    margin-bottom: 0;
	}
	a{
		text-decoration: none;
		color: #fff;
	}
}
.post-edit-link{
	color: #fff;
	font-size: 1.5rem;
	border: solid 1px;
	text-decoration: none;
	padding: 0.2rem 1rem;
	display: inline-block;
	margin-top: 3rem;
}

.stars_bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	opacity: 0;
	// transform: scale(0.8);
	transition: all 2s;
	&.show_stars_bg{
		opacity: 1;
		// transform: scale(1);
	}
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing,span.wpcf7-not-valid-tip{
  display: none !important;
}
.subscribe_form{
  display: none;
}
.grecaptcha-badge{
  transform: translateX(100%);
}
body.single-post{
  overflow-x: hidden;
}
.single-post #wrapper{
  position: relative;
  z-index: 1;
}
.single-content a{
  text-decoration: none;
}
.single-content a:hover{
  text-decoration: underline;
}

.single-content strong {
  font-weight: 500;
}