@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  height: 100%;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  height: 72%;
  border: 1px solid $dark-grey-color;

  > div,
  > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}

.title {
  z-index: 10;
  @include hl-font-size-text(22px);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
  transition: transform 0.2s;

  > a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.tag {
  font-family: $font-gramatika;
  font-weight: 700;
  line-height: 1.5;
  @include hl-font-size-text(12px);
  @include hl-margin(top, 20px);
  @include hl-margin(bottom, 20px);
  color: #cdcbd3;
  text-transform: uppercase;
}

.hiddenTitle {
  position: absolute;
  left: -9999px;
}

.firstArticle {
  .link {
    overflow: hidden;
    height: 100%;
  }
  .title {
    font-family: $font-gramatika;
    font-weight: 700;
    @include hl-font-size-title(36px);
    line-height: 1.4;
    position: absolute;
    top: 230px;
    left: 60px;
    @include hl-width(380px);
  }
  .tag {
    position: absolute;
    top: 180px;
    left: 60px;
  }
}
