@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  height: 100%;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  height: 72%;
  border: 1px solid $dark-grey-color;

  > div,
  > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: auto;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: $sm) {
    overflow: hidden;
    max-height: 200px;
  }
}

.title {
  z-index: 10;
  @include hl-font-size-text(22px);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
  transition: transform 0.2s;

  > a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.tag {
  font-family: $font-gramatika;
  font-weight: 700;
  line-height: 1.5;
  @include hl-font-size-text(12px);
  @include hl-margin(top, 20px);
  @include hl-margin(bottom, 20px);
  color: #cdcbd3;
  text-transform: uppercase;
}

.hiddenTitle {
  position: absolute;
  left: -9999px;
}

.firstArticle {
  @media screen and (min-width: $sm) {
    .link {
      position: relative;
      overflow: hidden;
      height: 100%;

      div {
        width: 54.4%;
        margin-left: auto;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          142.15deg,
          rgba(132, 164, 255, 0.2) 8.42%,
          rgba(2, 2, 30, 0) 76.6%
        );
        opacity: 0.6;
      }
    }
    .wrapper {
      position: absolute;
      left: calc(var(--coef-indent) * 60px);
      bottom: calc(var(--coef-indent) * 40px);
      max-width: 34%;
    }
    .title {
      font-family: $font-gramatika;
      font-weight: 700;
      @include hl-font-size-title(36px);
      line-height: 1.4;
    }
  }
}
