.section__posts {
  padding-top: 14.28rem;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    padding-top: 7.5rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 11.17rem;
  }

  @media (min-width: 1280px) {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.section__posts-block {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 51.43rem;
  margin-left: 3.33rem;

  @include media-breakpoint-down(md) {
    max-width: 34.2rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 6.67rem;
    margin-left: 0;
    max-width: 42.69rem;
  }
}

.section__posts-block .section__blog-slider {
  position: static;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;
  }

  @include media-breakpoint-down(xs) {
    max-width: none;
  }
}

.section__blog-slider .section__blog-slider-pagination {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.section__posts-block .section__blog-slider .swiper-pagination-bullets {
  bottom: 0;
  line-height: 0;
}

.section__blog-slider .swiper-wrapper {
  @include media-breakpoint-up(md) {
    flex-direction: column;
    height: auto;
    transform: none !important;
  }
}

.section__post-item {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.section__post-item + .section__post-item {
  @include media-breakpoint-up(md) {
    margin-top: 2.86rem;
  }
}

.section__post-img {
  width: 100%;
  max-width: 14.28rem;
  min-width: 100px;

  @include media-breakpoint-down(md) {
    max-width: 9.5rem;
  }

  @include media-breakpoint-down(sm) {
    max-width: none;
  }

  a {
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 55%;
    overflow: hidden;
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section__posts-info {
  width: 100%;
  max-width: 22.14rem;

  @include media-breakpoint-down(sm) {
    max-width: none;
    text-align: center;
  }
}

.section__posts-title {
  font-size: 2.14rem;
  margin-bottom: 3rem;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
    margin-bottom: 2.34rem;
  }
}

.section__posts-link {
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.42em;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: $yellow-color;
  text-decoration: none;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 1.42rem);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 0;
    background-color: #3719ca;
    z-index: -1;
    transition: height 0.3s;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.17rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.section__posts-link:hover {
  @include media-breakpoint-up(lg) {
    color: $white-color;
    &::before {
      height: 100%;
    }
  }
}

.section__post-info {
  margin-left: 4.29rem;

  @include media-breakpoint-down(md) {
    margin-left: 2.92rem;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 3.33rem;
    width: 100%;
  }
}

.section__post-date {
  font-size: 0.86rem;
  line-height: 1.17em;
  font-weight: 700;
  margin-bottom: 0.71rem;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.17rem;
  }
}

.section__post-title {
  font-family: $font-ratiomodern;
  font-size: 2.14rem;
  line-height: 1.17em;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 1.33rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $white-color;
  }
}
