.section__posts-block .section__blog-slider {
  position: static;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;
  }

  @include media-breakpoint-down(xs) {
    max-width: none;
  }
}

.section__blog-slider .section__blog-slider-pagination {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.section__posts-block .section__blog-slider .swiper-pagination-bullets {
  bottom: 0;
  line-height: 0;
}

.section__blog-slider .swiper-wrapper {
  @include media-breakpoint-up(md) {
    flex-direction: column;
    height: auto;
    transform: none !important;
  }
}
