.section__gallery {
  .gallery-slider-wrap {
    margin-right: -4.28rem;
    margin-left: -4.28rem;

    @media screen and (max-width: 1024px) {
      margin-right: -5rem;
      margin-left: -5rem;
    }

    @include media-breakpoint-down(xs) {
      margin-right: -1.67rem;
      margin-left: -1.67rem;
    }
  }

  .gallery-slider-wrap .gallery-slider {
    @include media-breakpoint-down(xs) {
      max-width: none;
    }
  }

  .gallery-slider-item {
    width: auto;
    min-width: 240px;

    @include media-breakpoint-down(xs) {
      max-width: 240px;
    }

    img {
      width: 100%;

      @media screen and (min-width: 2500px) {
        width: 24.28rem;
      }
    }
  }

  .gallery-slider .swiper-wrapper {
    align-items: center;
    margin-left: 4.28rem;

    will-change: transform;

    @media screen and (min-width: 1025px) {
      &.mouse-leave {
        transition-timing-function: cubic-bezier(0, 0, 0, 0.34) !important;
        // transition-duration: 1200ms !important;
      }
      transition-timing-function: linear !important;
    }
    @media screen and (max-width: 1024px) {
      margin-left: 5rem;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 1.67rem;
    }
  }
}

.gallery-slider.hover-right {
  @media screen and (min-width: 1025px) {
    cursor: url('../images/gallery/right-arrow.png'), auto;
  }
}

.gallery-slider.hover-left {
  @media screen and (min-width: 1025px) {
    cursor: url('../images/gallery/left-arrow.png'), auto;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 0.64rem rgba(#e72121, 0.15);
  }
}

@keyframes pulse-sm {
  to {
    box-shadow: 0 0 0 6px rgba(#e72121, 0.15);
  }
}
