.section__hero {
  position: relative;
  padding-top: 16.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: 1280px) {
    max-width: 90rem;
    margin: 0 auto;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    padding-top: 6.71rem;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 5.01rem;
  }

  &:before {
    content: "";
    display: block;
    width: 2px;
    height: 1px;
    position: absolute;
    border-radius: 15%;
    top: 0;
    left: 91%;
    z-index: -1;
    box-shadow: 0px 0px 279px 513.1px rgba(77, 54, 208, 0.3);
  }

  .quote {
    position: relative;
    max-width: 25.7rem;
    font-size: 1.43rem;
    line-height: 1.5em;
    padding-left: 5em;
    margin-top: 7.86rem;

    @include media-breakpoint-down(sm) {
      margin-top: 5.86rem;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 3.5em;
      height: 2.5em;
      background: url("../images/quotes.svg") no-repeat center;
      background-size: contain;
      margin: auto;
    }
  }
}

.hero__info {
  position: relative;
  margin-left: 2.86rem;
  margin-right: 2.86rem;

  @media screen and (max-width: 1200px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: 1024px) {
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 7.83rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 6.13rem;
    margin-left: 10px;
  }
}

.hero__card-wrap {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
    left: 50%;
    bottom: 50px;
    transform: rotate(15deg) translateX(-50%);
    background: #2b00ff;
    opacity: 0;
    border-radius: 20px;
    transition: 0.4s;
  }

  &:hover::before {
    opacity: 0.75;
    box-shadow: 0 0 110px 90px #4d36d0;
  }
}

.hero__card-wrap:nth-child(1) {
  position: relative;
  margin-top: 20px;
  margin-right: 18.28rem;
  @media screen and (max-width: 1024px) {
    margin-right: 17.28rem;
  }

  @include media-breakpoint-down(md) {
    margin-right: 15.68rem;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 13.68rem;
  }
}

.hero__card-wrap:nth-child(2) {
  position: absolute;
  top: -25%;
  right: 3%;
}

.hero__card-wrap:nth-child(3) {
  position: absolute;
  top: 96%;
  right: 0;

  @media screen and (max-width: 1024px) {
    top: 88%;
    right: 0;
  }

  @include media-breakpoint-down(xs) {
    top: 79%;
    right: 7%;
  }
}

.hero__info-card {
  width: 11.43rem;
  height: 14.28rem;
  display: flex;
  text-decoration: none;
  color: #fff;
  justify-content: center;
  align-items: flex-end;
  transform: rotate(15deg);

  @include media-breakpoint-down(md) {
    width: 10.01rem;
    height: 12.51rem;
  }

  @include media-breakpoint-down(xs) {
    width: 9.34rem;
    height: 11.67rem;
  }
}

.upwork-card {
  background: url("../images/cards/upwork-bg.png") no-repeat center;
  background-size: cover;

  .hero__info-card-body {
    @include media-breakpoint-down(md) {
      margin-left: 0px;
      margin-bottom: 22px;
    }

    img {
      width: 2.71rem;

      @include media-breakpoint-down(md) {
        width: 2rem;
      }
    }
  }
}

.dribbble-card {
  background: url("../images/cards/dribbble-bg.png") no-repeat center;
  background-size: cover;

  .hero__info-card-body {
    @include media-breakpoint-down(md) {
      margin-bottom: 22px;
      margin-left: 10px;
      max-width: 100px;
    }

    img {
      width: 2.79rem;

      @include media-breakpoint-down(md) {
        width: 2rem;
      }
    }
  }
}

.clutch-card {
  background: url("../images/cards/clutch-bg.png") no-repeat center;
  background-size: cover;

  .hero__info-card-body {
    @include media-breakpoint-down(md) {
      max-width: 90px;
      margin-bottom: 20px;
      margin-left: 3px;
    }

    img {
      width: 2.5rem;

      @include media-breakpoint-down(md) {
        width: 1.83rem;
      }
    }
  }
}

.hero__info-card-body {
  max-width: 7.86rem;
  margin-bottom: 1.86rem;
  transform: rotate(-15deg);

  > div {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;

    @include media-breakpoint-down(md) {
      margin-top: 12px;
      font-size: 12px;
      line-height: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1rem;
      line-height: 20px;
    }
  }
}

.hero__circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.circle--sm-1 {
  background: #ddebfa;
  // width: 14px;
  // height: 14px;
  width: 1rem;
  height: 1rem;
  top: 143%;
  right: -10%;

  @include media-breakpoint-down(xs) {
    width: 0.67rem;
    height: 0.67rem;
    top: 123%;
    right: 0%;
  }
}

.circle--sm-2 {
  background: #3719ca;
  width: 1rem;
  height: 1rem;
  right: 53%;
  top: 72%;

  @include media-breakpoint-down(xs) {
    width: 0.67rem;
    height: 0.67rem;
  }
}

.circle--md {
  background: linear-gradient(156.8deg, #ffffff 15%, #79b0e8 75.42%);
  width: 3.43rem;
  height: 3.43rem;
  top: -20%;
  left: -17%;

  @include media-breakpoint-down(xs) {
    width: 2.5rem;
    height: 2.5rem;
    left: 23%;
  }
}

.circle--lg {
  background: linear-gradient(45.54deg, #02021e 16.17%, #262147 89.9%);
  width: 8.57rem;
  height: 8.57rem;
  bottom: -95%;
  left: -30%;

  @include media-breakpoint-down(xs) {
    width: 6.17rem;
    height: 6.17rem;
    bottom: -75%;
    left: 0%;
  }
}
