@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 2rem 1rem;
  animation: appear 1s 0.5s both cubic-bezier(0.76, 0, 0.24, 1);

  @media screen and (min-width: $md) {
    @include hl-padding(top, 18px);
    @include hl-padding(left, 80px);
    @include hl-padding(right, 80px);
    @include hl-padding(bottom, 20px);
  }

  &:not(.blend) {
    background: linear-gradient(0deg, rgba(2, 2, 30, 0.0001) 0%, #02021e 98%);
  }

  &.blend {
    mix-blend-mode: difference;
  }
}

.bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logotype {
  position: relative;
  z-index: 50;
  margin-right: auto;

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  img {
    display: inline-block;
    width: auto;
    max-height: 40px;
    @media screen and (min-width: $lg) {
      @include hl-height(40px);
      max-height: 100%;
    }
  }
}

.contact {
  display: none;
  font-family: $font-sofia-pro-soft;
  @include hl-font-size-text(18px);
  font-weight: 300;
  transition: 0.2s;
  height: 100%;
  @include hl-width(180px);
  @include hl-height(60px);
  border: 1px solid rgba($color: $white-color, $alpha: 0.2);
  border-radius: 100px;
  text-decoration: none;
  color: $white-color;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  padding-bottom: 7px;

  @media screen and (min-width: $md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &[data-status='opened'] {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    border-color: $main-color;
    background-color: $main-color;
  }
}

.menuBar {
  position: relative;
  z-index: 50;
  @include hl-margin(left, 20px);
}

.menuButton {
  $size: 3.4rem;

  position: relative;
  overflow: hidden;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba($color: $white-color, $alpha: 0.2);
  border: none;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: transparent;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: $main-color;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateX(100%);
    z-index: -10;
  }

  @media screen and (min-width: $lg) {
    @include hl-height(60px);
    @include hl-width(60px);
    &:hover {
      box-shadow: inset 0 0 0 1px $main-color;

      &:after {
        transform: translateX(0%);
      }
    }
  }

  @media screen and (min-width: $xxl) {
    box-shadow: inset 0 0 0 2px #32344d;

    &:hover {
      box-shadow: inset 0 0 0 2px $main-color;
    }
  }
}

.menuIcon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  border-radius: 35px;
  width: 37%;
  height: 0.15rem;
  margin: auto;
  background-color: #fff;
  transition: all 0.3s;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 35px;
    height: 0.15rem;
    width: 70%;
    background: #fff;
    transition: all 0.3s;
  }

  &:before {
    margin-top: -0.5rem;
  }

  &:after {
    margin-top: 0.5rem;
  }

  &[data-status='opened'] {
    background-color: transparent;

    &:before {
      top: 0.45rem;
      transform: translateX(-50%) rotate(45deg);
      width: 100%;
    }

    &:after {
      top: -0.55rem;
      transform: translateX(-50%) rotate(-45deg);
      width: 100%;
    }
  }
}

.hiddenTitle {
  position: absolute;
  left: -9999px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
