$main-color: #3719ca;
$yellow-color: #ffe336;
$dark-color: #02021e;
$white-color: #fff;
$red-color: #e5003d;
$red-on-blue-color: #ff96bc;
$grey-color: #80808e;
$dark-grey-color: #32344d;
$dark-blue-color: #1e213d;
$light-grey-color: #f5f3f4;

$behance-color: #D85988;
