$font-sofia-pro-soft: 'sofia-pro-soft', sans-serif;
$font-sofia-pro: 'sofia-pro', sans-serif;
$font-ratiomodern: 'ratiomodern', serif;

$font-gramatika-black: 'Gramatika-Black', sans-serif;
$font-gramatika: 'Gramatika', sans-serif;
