.underline {
  position: absolute;
  width: 0;
  left: 0;
  bottom: -10px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #e7a28f 1.59%,
    #fbddb0 50%,
    #fbfefd 98.41%
  );
  z-index: -1;
  transition: width 0.1s linear;
}
