@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.preview {
  @include col-width();

  @media screen and (min-width: $md) {
    @include col-width(1, 42);
    grid-row: 1;
    margin-right: 0;
  }

  @media screen and (min-width: $lg) {
    // hover: the link remains the same size, but the picture becomes smaller -->
    > a {
      > div {
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
    // <-- hover
  }

  > a {
    display: block;
  }
  &.reversed {
    @media screen and (min-width: $md) {
      @include col-width(24, 65);
      margin-left: 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  z-index: 10;
  @include hl-padding(top, 60px);
  @include hl-padding(bottom, 60px);

  @include col-width(5, 61);

  @media screen and (min-width: $md) {
    @include col-width(39, 62);
    grid-row: 1;
    margin-top: 0;
  }
  @media screen and (min-width: $lg) {
    @include col-width(39, 58);
  }
  @media screen and (max-width: $sm) {
    padding-bottom: 0;
  }
  &.reversed {
    @media screen and (min-width: $md) {
      @include col-width(4, 28);
      grid-row: 1;
      margin-left: 0;
    }
    @media screen and (min-width: $lg) {
      @include col-width(8, 28);
    }
  }
}

.hiddenTitle {
  position: absolute;
  left: -9999px;
}

.tags {
  @include hl-font-size-text(18px);
  font-weight: 300;
  line-height: 1.6em;
  letter-spacing: 0.5px;
  color: #ccccd2;
}

.title {
  @include hl-margin(top, 20px);
  @include hl-font-size-title(36px);

  line-height: 1.25em;
  font-family: $font-gramatika;
  font-weight: 700;

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.descriptionLink {
  position: relative;
  @include hl-margin(top, 60px);
  @include hl-margin(bottom, 10px);
  @include hl-font-size-text(14px);

  padding-bottom: 8px;
  font-weight: 600;
  line-height: 1.42em;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: color 0.3s;
  color: $white-color;
  width: fit-content;

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 45%;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 98.41%
    );
    transition: width 0.3s;
  }
  &:hover {
    &:before {
      width: 95%;
    }
  }
}

.review {
  display: flex;
  align-items: center;
  margin-top: auto;
  @media screen and (max-width: 1024px) {
    margin-top: 20px;
  }
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  @include hl-width(80px);
  @media screen and (max-width: 1024px) {
    --coef-size: 0.8;
  }
}

.reviewContent {
  @include hl-margin(left, 30px);
}

.reviewText {
  @include hl-font-size-title(22px);
  font-weight: 600;
  line-height: 1.45em;
}

.reviewAuthor {
  @include hl-font-size-text(16px);
  color: #ccccd2;
  font-weight: 300;
}
