@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.preview {
  @include col-width();

  @media screen and (min-width: $md) {
    @include col-width(1,41);
    grid-row: 1;
    margin-right: 0;
  }

  @media screen and (min-width: $lg) {
    // hover: the link remains the same size, but the picture becomes smaller -->
    > a {
      > div {
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
        > div {
          transform: scale(0.9);
        }
      }
    }
    // <-- hover
  }

  > a {
    display: block;
  }
  &.reversed {
    @media screen and (min-width: $md) {
      @include col-width(22,64);
      margin-left: 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  margin-top: calc(var(--unit) * 4);
  @include col-width(4,60);


  @media screen and (min-width: $md) {
    @include col-width(38,58);
    grid-row: 1;
    margin-top: 0;
  }
  &.reversed {
    @media screen and (min-width: $md) {
      @include col-width(7,26);
      margin-left: 0;
    }
  }
}

.hiddenTitle {
  position: absolute;
  left: -9999px;
}

.tags {
  font-size: px-to-rem(14,12);
  font-weight: 300;
  line-height: 1.6em;
  letter-spacing: 0.5px;
  color: #ccccd2;

  @media screen and (min-width: $md) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: $lg) {
    // font-size: 1.43rem;
    font-size: px-to-rem(18);
  }
}

.title {
  // @include hl-margin-top(2);
  margin-top: calc(var(--unit) * 2);

  font-size: px-to-rem(26,12);
  line-height: 1.25em;
  font-family: $font-gramatika;
  font-weight: 700;

  // @media screen and (min-width: $md) {
  //   margin-top: 1.9rem;
  //   font-size: 1.83rem;
  // }

  @media screen and (min-width: $lg) {
    font-size: px-to-rem(36);
    // margin-top: px-to-em(20, 36);
    // @include hl-margin-top();
    // margin-top: calc(var(--unit));


    // margin-top: calc(var(--unit))
  }

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.descriptionLink {
  position: relative;
  // @include hl-margin-top(3);
  margin-top: calc(var(--unit) * 3);
  // margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.42em;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: color 0.3s;
  color: $yellow-color;
  width: fit-content;

  @media screen and (min-width: $md) {
    // margin-top: 3.35rem;
    font-size: 1.17rem;
    color: $white-color;
  }

  @media screen and (min-width: $lg) {
    // margin-top: px-to-rem(60);
    // margin-top: calc(var(--unit) * 3);
    font-size: 1rem;

    &:hover {
      color: $yellow-color;
      &:before {
        width: 95%;
      }
    }
  }

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 45%;
    left: 0;
    bottom: -12px;
    background-color: $yellow-color;
    transition: width 0.3s;

  }
}

.review {
  display: flex;
  align-items: center;
  // margin-top: px-to-rem(58,12);
  // @include hl-margin-top(6);
  margin-top: calc(var(--unit) * 6);


  @media screen and (min-width: $md) {
    // margin-top: 5rem;
  }
  @media screen and (min-width: $lg) {
    // @include hl-margin-top(9);
    // margin-top: calc(var(--unit) * 9);
    // margin-top: px-to-rem(190);
  }
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: calc(var(--col-width) * 9);
  @media screen and (min-width: $md) {
    width: calc(var(--col-width) * 5);
  }

  @media screen and (min-width: $lg) {
    width: calc(var(--col-width) * 4);
  }
}

.reviewContent {
  // @include hl-margin-left(1.5);
  margin-left: calc(var(--unit) * 1.5);
  // margin-left: 1.67rem;
}

.reviewText {
  font-size: px-to-rem(16,12);
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 0.5px;

  @media screen and (min-width: $md) {
    font-size: 1.43rem;
  }
}

.reviewAuthor {
  font-size: px-to-rem(12,12);
  color: #ccccd2;
  font-weight: 300;

  @media screen and (min-width: $md) {
    font-size: 1.14rem;
  }
}
