@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.preview {
  @include col-width();

  @media screen and (min-width: $md) {
    @include col-width(1, 42);
    grid-row: 1;
    margin-right: 0;
  }

  @media screen and (min-width: $lg) {
    // hover: the link remains the same size, but the picture becomes smaller -->
    > a {
      > div {
        transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
        > div {
          transform: scale(0.9);
        }
      }
    }
    // <-- hover
  }

  > a {
    display: block;
  }
  &.reversed {
    @media screen and (min-width: $md) {
      @include col-width(24, 65);
      margin-left: 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  margin-top: calc(var(--unit-vertical) * 2);
  @include col-width(4, 60);

  @media screen and (min-width: $md) {
    @include col-width(39, 58);
    grid-row: 1;
    margin-top: 0;
  }
  &.reversed {
    @media screen and (min-width: $md) {
      @include col-width(8, 26);
      margin-left: 0;
    }
  }
}

.hiddenTitle {
  position: absolute;
  left: -9999px;
}

.tags {
  font-size: calc(var(--unit-sm-text) * 0.9);
  font-weight: 300;
  line-height: 1.6em;
  letter-spacing: 0.5px;
  color: #ccccd2;
}

.title {
  margin-top: calc(var(--unit-vertical) * 1);
  font-size: calc(var(--unit-font-title) * 1.8);
  line-height: 1.25em;
  font-family: $font-gramatika;
  font-weight: 700;

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.descriptionLink {
  position: relative;
  margin-top: calc(var(--unit-vertical) * 3);
  font-size: calc(var(--unit-sm-text) * 0.7);

  font-weight: 600;
  line-height: 1.42em;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: color 0.3s;
  color: $white-color;
  width: fit-content;

  > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 45%;
    left: 0;
    bottom: -12px;
    background: linear-gradient(
      90deg,
      #e7a28f 1.59%,
      #fbddb0 50%,
      #fbfefd 98.41%
    );
    transition: width 0.3s;
  }
  &:hover {
    &:before {
      width: 95%;
    }
  }
}

.review {
  display: flex;
  align-items: center;
  margin-top: calc(var(--unit-vertical) * 9);
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: calc(var(--unit) * 4);
}

.reviewContent {
  margin-left: calc(var(--unit-vertical) * 1.5);
}

.reviewText {
  font-size: calc(var(--unit-sm-text) * 1.1);
  font-weight: 600;
  line-height: 1.45em;

  @media screen and (min-width: $md) {
  }
}

.reviewAuthor {
  font-size: calc(var(--unit-sm-text) * 0.8);
  color: #ccccd2;
  font-weight: 300;
}
