@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 51.43rem;
  margin-left: 3.33rem;

  @include media-breakpoint-down(md) {
    max-width: 34.2rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 6.67rem;
    margin-left: 0;
    max-width: 42.69rem;
  }
}

.item {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    @include media-breakpoint-up(md) {
      margin-top: 2.86rem;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.image {
  width: 100%;
  max-width: 14.28rem;
  min-width: 100px;

  @include media-breakpoint-down(md) {
    max-width: 9.5rem;
  }

  @include media-breakpoint-down(sm) {
    max-width: none;
  }

  a {
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 55%;
    overflow: hidden;
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.info {
  margin-left: 4.29rem;

  @include media-breakpoint-down(md) {
    margin-left: 2.92rem;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 3.33rem;
    width: 100%;
  }
}

.date {
  font-size: 0.86rem;
  line-height: 1.17em;
  font-weight: 700;
  margin-bottom: 0.71rem;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.17rem;
  }
}

.title {
  font-family: $font-ratiomodern;
  font-size: 2.14rem;
  line-height: 1.17em;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 1.33rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $white-color;
  }
}
