@import '@styles/variables/all';
@import '@styles/mixins/all';

.step-2:before {
  left: calc(10% + 0.93rem);
}

.step-3:before {
  left: calc(30% + 0.36rem);
}

.step-4:before {
  left: calc(50%);
}

.step-5:before {
  left: calc(70% - 0.93rem);
}

.step-6:before {
  left: calc(90% - 0.93rem - 0.36rem);
}

.flow__steps-description-list {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.57rem;
  line-height: 1.45em;
  text-align: center;
  @include media-breakpoint-down(md) {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: space-between;
    font-size: 18px;
  }
}

.flow__steps-description-title {
  display: none;
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.83rem;
    line-height: 1.4em;
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.67rem;
  }
}

.flow__steps-description-title > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 1px #554f71;
  opacity: 0.8;
  border-radius: 50%;
}

.flow__steps-description-item {
  position: absolute;
  visibility: hidden;
  top: -3000px;
  opacity: 0;
  transition: opacity 0.8s;
  @include media-breakpoint-down(md) {
    width: 46%;
    position: relative;
    visibility: visible;
    top: 0;
    opacity: 1;
    text-align: left;
    margin-bottom: 7.83rem;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-bottom: 55px;
  }
}

.flow__steps-description-item:nth-of-type(5),
.flow__steps-description-item:nth-of-type(6) {
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.flow__steps-description-item:nth-of-type(5) {
  @include media-breakpoint-down(sm) {
    margin-bottom: 55px;
  }
}

.flow__steps-description-item.active {
  position: relative;
  visibility: visible;
  top: 0;
  opacity: 1;
}
