@import '../../variable';
@import '../../mixins/breakpoints';

.industries__description {
  display: flex;
  justify-content: space-between;
  max-width: 68.57rem;
  margin: 0 auto 8.57rem;
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.industries__description h4 {
  width: 31%;
  font-weight: 400;
  font-size: 2.14rem;
  line-height: 1.33em;
  @include media-breakpoint-down(md) {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    width: 35%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: 310px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
}

.industries__description p {
  width: 55%;
  margin: 0;
  font-weight: 300;
  font-size: 1.57rem;
  line-height: 1.45em;
  @include media-breakpoint-down(md) {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
  }
}

.industries__list {
  display: flex;
  max-width: 82.85rem;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.industries__item {
  position: relative;
  padding-top: 3.7rem;
  padding-bottom: 2.14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18.57rem;
  border-radius: 2.14rem;

  // we don't need it for now.
  // to be retrieved when industries__item becomes link
  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 1rem;
  //   height: 2px;
  //   background-color: $white-color;
  //   top: 2rem;
  //   right: 1.42rem;
  // }
  // &::after {
  //   transform: rotate(-90deg);
  // }

  @include media-breakpoint-down(md) {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    width: 310px;
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.industries__item + .industries__item {
  margin-left: 2.85rem;
  @include media-breakpoint-down(md) {
    margin: 0;
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
    margin-top: 40px;
  }
}

.industries__item:first-of-type {
  background: linear-gradient(90deg, #31ceff 0%, #3993ff 100%);
  box-shadow: 0px 34px 64px rgba(53, 177, 255, 0.2);
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
    margin-right: 10px;
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
  }
}

.industries__item:nth-of-type(2) {
  background: linear-gradient(90deg, #3894ff 0%, #3d39ff 100%);
  box-shadow: 0px 34px 64px rgba(59, 100, 255, 0.2);
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.industries__item:nth-of-type(3) {
  background: linear-gradient(89.78deg, #3c38ff 0.16%, #8161fe 99.8%);
  box-shadow: 0px 34px 64px rgba(93, 76, 255, 0.2);
}

.industries__item:last-of-type {
  background: linear-gradient(90deg, #8060fe 0%, #a660fe 100%);
  box-shadow: 0px 34px 64px rgba(158, 97, 255, 0.2);
}

.industries__item img {
  margin-bottom: 3.5rem;

  @include media-breakpoint-down(md) {
    width: 40px;
    height: 39px;
    margin: 0;
    margin-right: 24px;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 16px;
  }
}

.industries__item span {
  font-size: 1.57rem;
  line-height: 1.36em;

  @media (max-width: 1200px) {
    font-size: 1.67rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}
