@import '@styles/variables/all';
@import '@styles/mixins/all';

.services {
  font-family: $font-sofia-pro;
  padding-top: 11.4rem;
  @include media-breakpoint-down(md) {
    max-width: 59rem;
    margin: 0 auto;
  }
}

.services__desing {
  margin-bottom: 11.42rem;
  @include media-breakpoint-down(md) {
    margin-bottom: 8.3rem;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 6.67rem;
  }
}

.services__development .services__title {
  @include media-breakpoint-down(sm) {
    font-size: 4rem;
  }
}

.services__wrapper {
  display: flex;
  max-width: 82.85rem;
  margin: 0 auto;
  justify-content: space-between;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.services__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25.7rem;
  margin-right: 5rem;

  @media screen and (max-width: 1200px) {
    margin-right: 2.4rem;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 6.67rem;
    position: relative;
    flex-direction: row;
    max-width: 100%;
    margin-right: 0;
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7.17rem;
  }
}

.services__info {
  @include media-breakpoint-down(md) {
    max-width: 50%;
  }

  @include media-breakpoint-down(sm) {
    max-width: 48%;
    flex-shrink: 0;
  }

  @include media-breakpoint-down(xs) {
    max-width: none;
  }
}

.services__info > p {
  margin: 0;
  margin-bottom: 3.56rem;
  font-size: 2.15rem;
  line-height: 1.33;
  @include media-breakpoint-down(md) {
    // max-width: 50%;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.83rem;
    line-height: 1.4em;
  }
  @include media-breakpoint-down(sm) {
    max-width: 280px;
    font-size: 1.67rem;
    margin-bottom: 5rem;
  }

  @include media-breakpoint-down(xs) {
    max-width: none;
    margin-bottom: 30px;
  }
}

.services__info > a {
  position: relative;
  max-width: 16rem;
  width: auto;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: $yellow-color;
  text-decoration: none;
  transition: color 0.4s;
  z-index: 1;

  @media (max-width: 1200px) {
    font-size: 1.17rem;
    white-space: nowrap;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 1.42rem);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 0;
    background-color: #3719ca;
    z-index: -1;
    transition: height 0.3s;
  }

  @include media-breakpoint-down(md) {
    // position: absolute;
    left: 0;
    bottom: 0;
    width: 16.5rem;
  }
  @include media-breakpoint-down(xs) {
    position: relative;
  }
}

.services__info > a:hover {
  color: $white-color;
  &::before {
    height: 100%;
  }
}

.services__banner {
  margin-top: auto;
  @include media-breakpoint-down(md) {
    margin-left: auto;
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
    // margin-top: 7.8rem;
    margin-left: auto;
    margin-top: auto;
    max-width: 50%;
  }

  @include media-breakpoint-down(xs) {
    max-width: none;
    margin-left: 0;
    margin-top: 7.83rem;
  }
}

.services__banner-link {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 1.42rem 0 8.57rem;
  width: 21.42rem;
  height: 6.43rem;
  border-radius: 1.42rem;
  background-size: cover;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    width: 240px;
    height: 76px;
    z-index: -1;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

    background: #2b00ff;
    opacity: 0;
    filter: blur(44px);
    border-radius: 20px;
    transition: 0.4s;
  }
  @include media-breakpoint-down(md) {
    margin-left: auto;
    width: 100%;
    max-width: 300px;
    padding-left: 35%;
    height: 7.53rem;
  }
  @include media-breakpoint-down(xs) {
    padding-left: 9rem;
  }
}

.services__desing .services__banner-link {
  background: url('../images/services/desing/services-design-button-bg.png')
    no-repeat center;
  background-size: 101%;

  img {
    top: -33%;
    min-width: 140px;
    left: -17%;
    width: 13.14rem;
  }
}

.services__development .services__banner-link {
  background: url('../images/services/dev/services-development-button-bg.png')
    no-repeat center;
  background-size: 101%;

  img {
    bottom: 13%;
    left: -5%;
    width: 9.29rem;
  }
}

.services__banner-link:hover {
  svg {
    bottom: 0.72rem;
  }
  &::before {
    opacity: 0.75;
  }
}

.services__banner-link img {
  position: absolute;
  left: 0;
  @include media-breakpoint-down(md) {
    width: 42%;
  }
  @include media-breakpoint-down(xs) {
    width: auto;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.services__banner-link span {
  position: relative;
  font-weight: 400;
  font-size: 1.28rem;
  line-height: 1.55;
  color: $white-color;
  text-align: left;
  padding-left: 0px;
}

.services__banner-link svg {
  position: absolute;
  right: 1.08rem;
  bottom: 1.08rem;
  transition: bottom 0.3s;

  @include media-breakpoint-up(xl) {
    width: 1.14rem;
    height: auto;
  }
}

.services__list {
  display: flex;
  justify-content: space-between;
  color: $white-color;
  margin-left: auto;
  flex-wrap: wrap;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-left: 0;
  }
  @include media-breakpoint-down(xs) {
    flex-wrap: nowrap;
  }
}

.services__item {
  max-width: 21.42rem;

  @media screen and (max-width: 1200px) {
    max-width: 20.12rem;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 3.33rem;
    max-width: 25.02rem;
  }
  @include media-breakpoint-down(sm) {
    max-width: 48%;
  }
  @include media-breakpoint-down(xs) {
    max-width: 100%;
    text-align: center;
  }
}

.mobile-design-item img {
  width: 60px;
}

.services__item:first-child {
  margin-bottom: 3.5rem;
}
.services__item:nth-child(2) {
  margin-bottom: 3.5rem;
}

.services__item img {
  margin-bottom: 2rem;
}

.services__item h3 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.25;

  @media screen and(max-width: 1200px) {
    font-size: 22px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.services__item p {
  margin: 0;
  font-weight: 300;
  font-size: 1.28rem;
  line-height: 1.67;

  @media screen and(max-width: 1200px) {
    font-size: 18px;
  }
}

.services .swiper-pagination-bullet {
  background: #554f71;
  opacity: 1;
}

.services .swiper-pagination-bullet-active {
  background: #ffe336;
}

.services .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-pagination-dev {
  text-align: center;
  @include media-breakpoint-up(sm) {
    display: none;
    padding: 0;
    z-index: 1;
  }
}

.swiper-container-dev .swiper-wrapper {
  @include media-breakpoint-up(xs) {
    height: auto;
  }
}

.swiper-container,
.swiper-container-dev {
  @include media-breakpoint-down(xs) {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
  }
}
