@import "@styles/variables/all";
@import "@styles/mixins/all";

.technologies {
  margin-top: 11.42rem;
  @include media-breakpoint-down(md) {
    margin-top: 8.33rem;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 6.67rem;
  }
}

.technologies .services__title {
  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
    font-size: 48px;
  }
}

.technologies__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 5.7rem;
  list-style: none;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.technologies__item {
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.42em;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 1.42rem);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 0px;
    background-color: $main-color;
    z-index: -1;
    transition: height 0.3s;
  }
}

.technologies__item.active {
  &::before {
    height: 100%;
  }
}

.technologies__item:hover {
  &::before {
    height: 100%;
  }
}

.technologies__item + .technologies__item {
  margin-left: 5.64rem;
}

.technologies__stack-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  height: 6.4rem;
  max-width: 68.5rem;
  @include media-breakpoint-down(sm) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding-top: 70px;
  }
}

.technologies__stack-list h3 {
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.technologies__stack-list + .technologies__stack-list {
  @include media-breakpoint-down(sm) {
    margin-top: 25px;
  }
}

.technologies__stack-list:not(.active) {
  opacity: 0;
  position: absolute;
  visibility: hidden;

  .technologies__stack-item {
    opacity: 0;
    transform: translateY(-30px);
  }

  @include media-breakpoint-down(sm) {
    opacity: 1;
    position: relative;
    visibility: visible;
    .technologies__stack-item {
      opacity: 1;
    }
  }
}

.technologies__stack-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.6s, transform 0.8s;
  @include media-breakpoint-down(sm) {
    width: 40%;
    margin-bottom: 35px;
    text-align: center;
  }
}

.technologies__stack-item + .technologies__stack-item {
  margin-left: 1rem;
  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
}

@for $i from 1 to 9 {
  .technologies__stack-item:nth-child(#{$i}) {
    transition-delay: $i * 0.1s;
  }
}

.technologies__stack-item img {
  display: block;
  margin: 0 auto;
  height: 2.8rem;
  width: auto;
}

.pwa-item img {
  height: 1.8rem;
}

.ionic-item img {
  height: 2.4rem;
}

.cordova-item img {
  height: 2.3rem;
}

.technologies__stack-item p {
  margin: 0;
  font-weight: 300;
  font-size: 1.28rem;
  line-height: 1.67em;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}
