@import '@styles/variables/all';
@import '@styles/mixins/all';

.tabList {
  list-style-type: none;
  margin: 4.29rem auto 3.125rem;
  padding: 0;

  position: relative;
  width: 90%;
  max-width: 73rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  [aria-selected='true'],
  .tabListItem:hover {
    .tabListIcon {
      background: $main-color;
      box-shadow: inset 0 0 0 1px $main-color;
    }
    .tabListTitle::before {
      height: 100%;
    }
  }
}

.tabListItem {
  flex-grow: 1;
  position: relative;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabListItem + .tabListItem {
  &:before {
    content: '';
    position: absolute;
    top: 1.43rem;
    left: 0;
    width: 5px;
    height: 5px;
    background: #7b7b8a;
    box-shadow: 1.86rem 0px 0px #7b7b8a, -1.86rem 0px 0px #7b7b8a;
    border-radius: 50%;

    @media (min-width: 2000px) {
      width: 6px;
      height: 6px;
    }

    @media (min-width: 3000px) {
      width: 7px;
      height: 7px;
    }

    @media (min-width: 4000px) {
      width: 8px;
      height: 8px;
    }
  }
}

.tabListIcon {
  $value: 2.86rem;

  width: $value;
  height: $value;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #554f71;
  font-size: 1rem;
  font-weight: bold;
  line-height: ($value + 0.1rem);
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;

  @media (min-width: 2400px) {
    box-shadow: inset 0 0 0 0.043vw #554f71;
  }
}

.tabListTitle {
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.36em;
  color: $white-color;
  cursor: pointer;
  transition: color 0.4s;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  opacity: 1;
  top: 100%;
  margin-top: 1.79rem;

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 0.36em * 2);
    left: 50%;
    transform: translateX(calc(-50% - 0.36em / 2));
    bottom: 0;
    height: 0;
    background-color: $main-color;
    z-index: -1;
    transition: height 0.3s;
  }
}

.tabContent {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.57rem;
  line-height: 1.45em;
  text-align: center;
}
