@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  display: grid;
  grid-template-columns: repeat(64, calc(100% / 64));
  @include col-width(1, 65);
}

.planets-wrapper {
  position: relative;

  display: grid;
  grid-template-columns: repeat(64, calc(100% / 64));
  @include col-width(4, 62);

  .planet {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  .planet-jupiter {
    @include hl-width(100px);
    @include hl-height(100px);
    background: linear-gradient(
      36.99deg,
      rgba(1, 1, 18, 0) 27.49%,
      #262147 78.93%
    );
    left: hl-grid-multiplier(2);
    bottom: hl-grid-multiplier(-1);
  }

  .planet-neptune {
    @include hl-width(40px);
    @include hl-height(40px);
    background: linear-gradient(
      37.98deg,
      rgba(16, 8, 74, 0) 16.94%,
      #83a4ff 87.08%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    right: hl-grid-multiplier(9);
    top: hl-grid-multiplier(-1);
  }

  .planet-uranus {
    @include hl-width(14px);
    @include hl-height(14px);
    background: #ddebfa;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    right: hl-grid-multiplier(4);
    bottom: hl-grid-multiplier(-1);
  }
}

.text-align {
  @include col-width(5, 61);
}

.title {
  @include hl-margin('top', 26px);
  @include hl-font-size-title(52px);
  font-family: $font-gramatika;
  font-weight: 900;
  line-height: 1.25em;
  letter-spacing: -2px;
  text-align: center;
  text-transform: capitalize;
}

.image-box {
  @include hl-margin('top', 65px);
  @include col-width(12, 54);

  background: transparent;
  position: relative;
}

.image {
  display: block;
  max-height: 500px;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
}
