@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin-top: 42px;
  font-family: $font-ratiomodern;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.3rem;
  letter-spacing: 0;
  text-align: center;

  @include media-breakpoint-down(xs) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 56px;
}
