@import '@/styles/variables/all';
@import '@/styles/mixins/all';
@import '@/functions/functions';

.container {
  position: relative;
  display: flex;
  align-items: center;
  @include hl-padding(top, 40px);
  @include hl-padding(bottom, 40px);

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  z-index: 10;

  li {
    &:not(:first-child) {
      @include hl-margin(left, 30px);
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba($white-color, $alpha: 0.25);
    border-radius: 50%;
    @include hl-width(60px);
    @include hl-height(60px);
    text-align: center;
    transition: background-color 0.2s, border-color 0.2s;
    text-indent: -9999px;

    &:hover {
      background-color: $white-color;
      border-color: $white-color;
      path {
        fill: $main-color;
      }
    }

    @media screen and (max-width: $md) {
      width: 40px;
      height: 40px;
    }
  }
}

.logotype {
  position: absolute;
  left: calc(var(--coef-size) * 80px);
  font-family: $font-sofia-pro;
  @include hl-font-size-text(16px);
  font-weight: 300;
  line-height: 1.56em;
  top: 50%;
  transform: translateY(-50%);

  b {
    font-weight: 700;
  }
  &::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: -0.5rem;
    right: -1.4rem;
    background: url('./images/start-footer.svg') no-repeat;
    background-size: contain;
  }
  @media screen and (min-width: 1600px) {
    left: 0;
  }
  @media screen and (max-width: $md) {
    position: relative;
    left: 0;
    order: 1;
    margin-top: 2rem;
    top: 0;
    transform: translateY(0);
  }
}
