@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  padding: 3rem 0 1.7rem;

  @media screen and (min-width: $md) {
    padding: 4rem 0 1.85rem;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }

  a {
    $size: 3.755rem;

    display: block;
    box-sizing: border-box;
    border: 1px solid $dark-blue-color;
    border-radius: 50%;
    width: $size;
    height: $size;
    text-align: center;
    transition: background-color 0.2s, border-color 0.2s;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &:hover {
      background-color: $main-color;
      border-color: $main-color;
    }

    @media screen and (min-width: $lg) {
      $size: 3.21rem;

      width: $size;
      height: $size;
    }
  }

  img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.logotype {
  margin-top: 34px;
  font-family: $font-sofia-pro-soft;
  font-size: 1.14rem;
  font-weight: 300;
  line-height: 1.56em;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  @media screen and (min-width: $lg) {
    margin-top: -34px;
  }

  img,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    $size: 34px;
    max-height: $size;
    max-width: $size;
  }

  span {
    margin-left: 1.42rem;
  }
}
