@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  max-width: 45.7rem;
  margin: 0 auto 12.2rem;
  text-align: left;

  @include media-breakpoint-down(sm) {
    margin-bottom: 5rem;
  }
}

.formTitle {
  font-family: $font-sofia-pro;
  margin-bottom: 2.14em;
  font-size: 1rem;
  font-weight: 700;
  color: $grey-color;
  text-transform: uppercase;
  letter-spacing: 10px;

  @include media-breakpoint-down(md) {
    margin-bottom: 2em;
    font-size: 0.83rem;
  }
}

.formTitleMobile {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.inputWrapper {
  position: relative;
  margin-bottom: 2.14rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 1.7rem;
  }

  &:last-of-type {
    margin-bottom: 3.5rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 1.7rem;
    }
  }
}

.input {
  padding: 0 10rem 0 1.45rem;
  box-sizing: border-box;
  border: 1px solid $white-color;
  background: transparent;
  width: 100%;
  padding-top: 20px;
  height: 70px;
  border-color: $dark-grey-color;
  color: $dark-blue-color;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: $font-sofia-pro-soft;
  transition: background-color 0.2s;
  border-width: 2px;

  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }

  &:focus,
  &.focused {
    border-color: $main-color;
    background-color: $white-color;
  }
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 12.3rem;
  padding: 2rem 1.4rem 0 1.4rem;
  background-color: transparent;
  border: 2px solid $dark-grey-color;
  border-bottom: none;
  font-size: 1.3rem;
  color: $dark-blue-color;
  font-weight: 300;
  font-family: $font-sofia-pro;
  resize: none;

  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(md) {
    min-height: 12.5rem;
  }

  &:focus {
    background-color: $white-color;
    border-color: $main-color;
  }

  &.focused {
    border-color: $main-color;
    background-color: $white-color;
  }
}

.placeholder {
  position: absolute;
  color: $grey-color;
  font-size: 16px;
  font-family: $font-sofia-pro-soft;
  font-weight: 300;
  top: 50%;
  left: 1.45rem;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: 2;

  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
}

.input:focus + .placeholder,
.input.focused + .placeholder {
  font-size: 14px;
  transform: translate(0);
  top: 10px;
}

.input.error + .placeholder,
.textarea.error + .placeholder {
  color: $red-color;
}

.textareaWrapper {
  position: relative;
  margin-bottom: 3rem;
}

.block {
  margin-top: -6px;
  height: 4.4rem;
  border: 2px solid $dark-grey-color;
  border-top: none;
}

.textarea:focus ~ .block,
.textarea.focused ~ .block {
  background-color: $white-color;
  border-color: $main-color;
}

.textarea.error ~ .block {
  border-color: $red-color;
}

.input.error,
.textarea.error {
  border-color: $red-color;
}

.textarea + .placeholder {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - 4px);
  padding-left: 1.4rem;
  top: 2rem;
  left: 2px;
  z-index: 2;
  transition: font-size 0.3s, top 0.3s;
}

.textarea:focus + .placeholder,
.textarea.focused + .placeholder {
  font-size: 14px;
  top: 20px;
  background-color: $white-color;
  height: 28px;
  @include media-breakpoint-up(xxl) {
    font-size: 0.8rem;
  }
}

.attachmentWrapper {
  position: absolute;
  bottom: 1.4rem;
  left: 0;

  &.attached {
    position: relative;
    display: flex;
    height: 2.8rem;
    align-items: center;
    margin-top: 30px;
    top: 0;
    left: 0;

    .attachmentLabel {
      top: 0;
      left: 0;
    }

    .attachmentButton {
      display: block;
      background: none;
      border: none;
      padding: 0;
      font-size: 0;
      top: 16px;
      min-width: 17px;
      width: 17px;
      height: 17px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 50%;
        background-color: $dark-grey-color;
        transform: rotate(45deg);
        transition: background-color 0.3s;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 50%;
        background-color: $dark-grey-color;
        transform: rotate(-45deg);
        transition: background-color 0.3s;
      }

      &:hover {
        &:after {
          background-color: #fafafa;
        }
        &:before {
          background-color: #fafafa;
        }
      }
    }
  }
}

.attachmentFile {
  display: none;
}

.attachmentLabel {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  left: 1.4rem;
  bottom: 0;
  right: 0;
  padding: 0;
  border-radius: 50%;
  font-size: 0;
  background-color: $dark-grey-color;
  border: none;
  cursor: pointer;
  background-image: url('./images/clip.svg');
  background-repeat: no-repeat;
  background-position: center;

  transition: 0.4s;
  @include media-breakpoint-down(md) {
    display: none;
  }

  &:hover {
    background-color: $main-color;
    transform: scale(1.1);
  }
}

.attachmentName {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: $font-sofia-pro;
  font-size: 1.4rem;
  color: #ccccd2;
  font-weight: 300;
  padding-left: 60px;

  &.attached {
    padding-right: 30px;
  }
}

.attachmentButton {
  position: absolute;
  display: none;
  right: 0;
}

.button {
  font-family: sofia-pro, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: $white-color;
  letter-spacing: 0.3rem;
  line-height: 1.43rem;
  text-indent: 0.3rem;
  background: transparent;
  min-width: 9.5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;
  background-color: $main-color;
  border: none;
  padding: 0 2.2em;
  transition: box-shadow 0.5s ease;
  cursor: pointer;

  @include media-breakpoint-down(md) {
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  &:hover {
    box-shadow: 0 0 45px 0 rgba(43, 0, 255, 0.75);
    background: #5d59e8;
    border-color: #5d59e8;
  }

  &.active {
    box-shadow: none;
    opacity: 0.8;
  }
}
