@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  @include grid-template();

  & + .item {
    margin-top: calc(var(--unit-vertical) * 7.3);
  }
}
