@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  @include grid-template();

  &:not(:first-child) {
    margin-top: px-to-rem(60,12);

    @media screen and (min-width: $md) {
      margin-top: px-to-rem(160);
    }
  }
}
