@import '@/styles/variables/all';
@import '@/styles/mixins/all';

.container {
  display: flex;
  max-width: 82.85rem;
  margin: 0 auto;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
