@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  flex-direction: column;
  &:not(:first-child) {
    position: relative;
    margin-top: calc(var(--unit-vertical) * 4);
    &::before {
      content: '';
      position: absolute;
      width: calc(100% + calc(var(--unit-vertical) * 2));
      height: 1px;
      top: calc(var(--unit-vertical) * (-2));
      left: 50%;
      transform: translateX(-50%);
      background-color: #32344d;
    }
  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }
}

.imageBox {
  flex: 0 0 auto;
  width: 100%;

  @media screen and (min-width: $md) {
    width: calc(var(--unit) * 9);
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.description {
  margin-top: 2rem;

  @media screen and (min-width: $md) {
    margin-top: 0;
    margin-left: 40px;
  }

  @media screen and (min-width: $lg) {
    margin-left: 60px;
  }
}

.tag {
  font-family: $font-gramatika;
  font-weight: 700;
  font-size: calc(var(--unit-sm-text) * 0.6);
  margin-bottom: 0.7em;
  color: $light-grey-color;
  opacity: 0.5;
  text-transform: uppercase;
}

.title {
  font-family: $font-sofia-pro;
  font-weight: 600;
  font-size: calc(var(--unit-font-title) * 1.1);
  line-height: 1.4em;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $white-color;
  }
}
