@import '@styles/variables/all';
@import '@styles/mixins/all';

.container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $md) {
    flex-direction: row;
    align-items: center;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }
}

.imageBox {
  flex: 0 0 auto;

  @media screen and (min-width: $md) {
    width: 120px;
  }

  @media screen and (min-width: $lg) {
    width: 200px;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.description {
  margin-top: 3.33rem;

  @media screen and (min-width: $md) {
    margin-top: 0;
    margin-left: 40px;
  }

  @media screen and (min-width: $lg) {
    margin-left: 60px;
  }
}

.date {
  font-size: 0.86rem;
  line-height: 1.17em;
  font-weight: 700;
  margin-bottom: 0.71rem;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.17rem;
  }
}

.title {
  font-family: $font-ratiomodern;
  font-size: 2.14rem;
  line-height: 1.17em;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 1.33rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $white-color;
  }
}
