@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  position: relative;
  @include hl-padding(top, 180px);
  font-family: $font-sofia-pro-soft;
  @include media-breakpoint-down(md) {
    @include hl-padding(top, 200px);
  }
}
