@mixin font($name, $path, $weight: 400, $style: normal, $display: 'block') {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$path}.ttf') format('truetype'),
      url('#{$path}.woff') format('woff'), url('#{$path}.woff2') format('woff2'),
      url('#{$path}.eot?') format('embedded-opentype');
    font-display: $display;
  }
}

@mixin hl-font-size-title($size) {
  font-size: calc(#{$size} * var(--coef-title));
}

@mixin hl-font-size-text($size) {
  font-size: calc(#{$size} * var(--coef-text));
}
