@mixin col-width($from: 1, $to: 65) {
  grid-column-start: $from;
  grid-column-end: $to;
}

@mixin grid-template() {
  display: grid;
  grid-template-columns: repeat(64, calc(100% / 64));
}

@mixin hl-margin($type, $size: 1px) {
  @if $type == top {
    margin-top: calc(#{$size} * var(--coef-indent));
  }
  @if $type == bottom {
    margin-bottom: calc(#{$size} * var(--coef-indent));
  }
  @if $type == left {
    margin-left: calc(#{$size} * var(--coef-indent));
  }
  @if $type == right {
    margin-right: calc(#{$size} * var(--coef-indent));
  }
}

@mixin hl-padding($type, $size: 1px) {
  @if $type == top {
    padding-top: calc(#{$size} * var(--coef-indent));
  }
  @if $type == bottom {
    padding-bottom: calc(#{$size} * var(--coef-indent));
  }
  @if $type == left {
    padding-left: calc(#{$size} * var(--coef-indent));
  }
  @if $type == right {
    padding-right: calc(#{$size} * var(--coef-indent));
  }
}

@mixin hl-width($size) {
  width: calc(#{$size} * var(--coef-size));
}

@mixin hl-max-width($size) {
  max-width: calc(#{$size} * var(--coef-size));
}

@mixin hl-height($size) {
  height: calc(#{$size} * var(--coef-size));
}

@mixin hl-max-width($size) {
  max-width: calc(#{$size} * var(--coef-size));
}
