@mixin col-width($from: 1, $to: 64) {
  grid-column-start: $from;
  grid-column-end: $to;
  // @include media-breakpoint-up(md) {
  //   grid-row: 1;
  // }
}

@mixin grid-template() {
  display: grid;
  grid-template-columns: repeat(64, calc(100% / 64));
}

@mixin hl-margin-top($offset: 1, $coef: 1) {
  margin-top: calc(var(--unit) * #{$offset} * #{$coef});
}

@mixin hl-margin-bottom($offset: 1, $coef: 1) {
  margin-bottom: calc(var(--unit) * #{$offset} * #{$coef});
}

@mixin hl-margin-left($offset: 1, $coef: 1) {
  margin-left: calc(var(--unit) * #{$offset} * #{$coef});
}
@mixin hl-margin-right($offset: 1, $coef: 1) {
  margin-right: calc(var(--unit) * #{$offset} * #{$coef});
}
