@mixin col-width($from: 1, $to: 65) {
  grid-column-start: $from;
  grid-column-end: $to;
}

@mixin grid-template() {
  display: grid;
  grid-template-columns: repeat(64, calc(100% / 64));
}

@mixin hl-margin-top($offset: 1) {
  --coef-margin: 1;
  margin-top: calc(20px * #{$offset} * var(--coef-margin));
  @include media-breakpoint-down(md) {
    --coef-margin: 0.7;
  }
  @include media-breakpoint-down(sm) {
    --coef-margin: 0.5;
  }
}

@mixin hl-margin-bottom($offset: 1) {
  --coef-margin: 1;
  margin-bottom: calc(20px * #{$offset} * var(--coef-margin));
}

@mixin hl-margin-left($offset: 1, $coef: 1) {
  margin-left: calc(var(--unit) * #{$offset} * #{$coef});
}
@mixin hl-margin-right($offset: 1, $coef: 1) {
  margin-right: calc(var(--unit) * #{$offset} * #{$coef});
}

@mixin hl-margin($type, $offset: 1) {
  --coef-margin: 1;
  @include media-breakpoint-down(md) {
    --coef-margin: 0.7;
  }
  @include media-breakpoint-down(sm) {
    --coef-margin: 0.5;
  }
  @if $type == top {
    margin-top: calc(20px * #{$offset} * var(--coef-margin));
  }
  @if $type == bottom {
    margin-bottom: calc(20px * #{$offset} * var(--coef-margin));
  }
  @if $type == left {
    margin-left: calc(20px * #{$offset} * var(--coef-margin));
  }
  @if $type == right {
    margin-right: calc(20px * #{$offset} * var(--coef-margin));
  }
}

@mixin hl-margin($type, $size: 1px) {
  @if $type == top {
    margin-top: calc(#{$size} * var(--coef-indent));
  }
  @if $type == bottom {
    margin-bottom: calc(#{$size} * var(--coef-indent));
  }
  @if $type == left {
    margin-left: calc(#{$size} * var(--coef-indent));
  }
  @if $type == right {
    margin-right: calc(#{$size} * var(--coef-indent));
  }
}

@mixin hl-padding($type, $size: 1px) {
  @if $type == top {
    padding-top: calc(#{$size} * var(--coef-indent));
  }
  @if $type == bottom {
    padding-bottom: calc(#{$size} * var(--coef-indent));
  }
  @if $type == left {
    padding-left: calc(#{$size} * var(--coef-indent));
  }
  @if $type == right {
    padding-right: calc(#{$size} * var(--coef-indent));
  }
}

@mixin hl-width($size) {
  width: calc(#{$size} * var(--coef-size));
}

@mixin hl-height($size) {
  height: calc(#{$size} * var(--coef-size));
}
