@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
}

.title {
  font-family: $font-gramatika-black;
  font-size: calc(var(--unit-font-title) * 4.5);
  line-height: 1.25em;
  color: $white-color;
  font-weight: 400;
  margin-bottom: calc(var(--unit-vertical) * 5);
  text-align: center;
  letter-spacing: -2px;
  @include media-breakpoint-down(md) {
    line-height: 1.46em;
  }
  @include media-breakpoint-down(sm) {
    line-height: 1.1em;
  }
}
