@import '@styles/variables/all';
@import '@styles/mixins/all';
@import '@functions/functions';

.container {
  @include hl-padding(top, 200px);
}

.title {
  position: relative;
  font-family: $font-gramatika-black;
  font-weight: 400;
  @include hl-font-size-title(96px);
  background: linear-gradient(
    137.81deg,
    #e7a28f 3.52%,
    #f9d6ac 41.89%,
    #fbfefc 96.77%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2px;
  line-height: 1;
  @include hl-padding(bottom, 60px);

  text-align: center;

  @media screen and (max-width: $sm) {
    --coef-title: 0.7;
  }

  &::before {
    content: '';
    position: absolute;
    @include hl-width(40px);
    @include hl-height(40px);
    border-radius: 50%;
    background: linear-gradient(
      37.98deg,
      rgba(16, 8, 74, 0) 16.94%,
      #83a4ff 87.08%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    right: hl-grid-multiplier(9);
    top: hl-grid-multiplier(-1);
    @media screen and (max-width: $sm) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    @include hl-width(100px);
    @include hl-height(100px);
    border-radius: 50%;
    background: linear-gradient(
      36.99deg,
      rgba(1, 1, 18, 0) 27.49%,
      #262147 78.93%
    );
    left: hl-grid-multiplier(5);
    bottom: hl-grid-multiplier(2);
    @media screen and (max-width: $sm) {
      display: none;
    }
  }
}
