@import '@styles/variables/all';
@import '@styles/mixins/all';

.dots {
  list-style-type: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0 0;
  padding: 0;

  [class='slick-active'] div {
    background: $yellow-color;
  }

  li {
    margin: 0 6px;

    @media screen and (min-width: 2400px) {
      margin: 0 0.25vw;
    }
  }

  div {
    $size: 8px;

    width: $size;
    height: $size;
    border-radius: 50%;
    background: #32344d;
    font-size: 0;
    cursor: pointer;

    @media screen and (min-width: 2400px) {
      width: 0.33vw;
      height: 0.33vw;
    }
    @media (min-width: 2000px) {
      width: 0.4vw;
      height: 0.4vw;
    }
  }
}
